@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1u370k');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?1u370k#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?1u370k') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?1u370k') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?1u370k##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bandera-tailandia .path1 {
  &:before {
    content: $bandera-tailandia-path1;  
    color: rgb(206, 17, 38);
  }
}
.bandera-tailandia .path2 {
  &:before {
    content: $bandera-tailandia-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bandera-tailandia .path3 {
  &:before {
    content: $bandera-tailandia-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bandera-tailandia .path4 {
  &:before {
    content: $bandera-tailandia-path4;  
    margin-left: -1em;  
    color: rgb(0, 43, 126);
  }
}
.bandera-tailandia .path5 {
  &:before {
    content: $bandera-tailandia-path5;  
    margin-left: -1em;  
    color: rgb(0, 43, 126);
  }
}
.bandera-argentina .path1 {
  &:before {
    content: $bandera-argentina-path1;  
    color: rgb(117, 171, 223);
  }
}
.bandera-argentina .path2 {
  &:before {
    content: $bandera-argentina-path2;  
    margin-left: -1em;  
    color: rgb(117, 171, 223);
  }
}
.bandera-argentina .path3 {
  &:before {
    content: $bandera-argentina-path3;  
    margin-left: -1em;  
    color: rgb(117, 171, 223);
  }
}
.bandera-argentina .path4 {
  &:before {
    content: $bandera-argentina-path4;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-guatemala .path1 {
  &:before {
    content: $bandera-guatemala-path1;  
    color: rgb(0, 171, 240);
  }
}
.bandera-guatemala .path2 {
  &:before {
    content: $bandera-guatemala-path2;  
    margin-left: -1em;  
    color: rgb(0, 171, 240);
  }
}
.bandera-guatemala .path3 {
  &:before {
    content: $bandera-guatemala-path3;  
    margin-left: -1em;  
    color: rgb(253, 254, 254);
  }
}
.bandera-guatemala .path4 {
  &:before {
    content: $bandera-guatemala-path4;  
    margin-left: -1em;  
    color: rgb(223, 203, 81);
  }
}
.bandera-guatemala .path5 {
  &:before {
    content: $bandera-guatemala-path5;  
    margin-left: -1em;  
    color: rgb(91, 131, 84);
  }
}
.bandera-guatemala .path6 {
  &:before {
    content: $bandera-guatemala-path6;  
    margin-left: -1em;  
    color: rgb(91, 131, 84);
  }
}
.bandera-guatemala .path7 {
  &:before {
    content: $bandera-guatemala-path7;  
    margin-left: -1em;  
    color: rgb(91, 131, 84);
  }
}
.bandera-guatemala .path8 {
  &:before {
    content: $bandera-guatemala-path8;  
    margin-left: -1em;  
    color: rgb(91, 131, 84);
  }
}
.bandera-guatemala .path9 {
  &:before {
    content: $bandera-guatemala-path9;  
    margin-left: -1em;  
    color: rgb(45, 121, 84);
  }
}
.bandera-guatemala .path10 {
  &:before {
    content: $bandera-guatemala-path10;  
    margin-left: -1em;  
    color: rgb(132, 160, 141);
  }
}
.bandera-guatemala .path11 {
  &:before {
    content: $bandera-guatemala-path11;  
    margin-left: -1em;  
    color: rgb(132, 160, 141);
  }
}
.bandera-guatemala .path12 {
  &:before {
    content: $bandera-guatemala-path12;  
    margin-left: -1em;  
    color: rgb(253, 254, 254);
  }
}
.bandera-chile .path1 {
  &:before {
    content: $bandera-chile-path1;  
    color: rgb(212, 43, 30);
  }
}
.bandera-chile .path2 {
  &:before {
    content: $bandera-chile-path2;  
    margin-left: -1em;  
    color: rgb(254, 254, 255);
  }
}
.bandera-chile .path3 {
  &:before {
    content: $bandera-chile-path3;  
    margin-left: -1em;  
    color: rgb(0, 57, 166);
  }
}
.bandera-chile .path4 {
  &:before {
    content: $bandera-chile-path4;  
    margin-left: -1em;  
    color: rgb(254, 254, 255);
  }
}
.bandera-colombia .path1 {
  &:before {
    content: $bandera-colombia-path1;  
    color: rgb(252, 209, 22);
  }
}
.bandera-colombia .path2 {
  &:before {
    content: $bandera-colombia-path2;  
    margin-left: -1em;  
    color: rgb(206, 17, 38);
  }
}
.bandera-colombia .path3 {
  &:before {
    content: $bandera-colombia-path3;  
    margin-left: -1em;  
    color: rgb(0, 56, 147);
  }
}
.bandera-costarica .path1 {
  &:before {
    content: $bandera-costarica-path1;  
    color: rgb(0, 27, 154);
  }
}
.bandera-costarica .path2 {
  &:before {
    content: $bandera-costarica-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bandera-costarica .path3 {
  &:before {
    content: $bandera-costarica-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.bandera-costarica .path4 {
  &:before {
    content: $bandera-costarica-path4;  
    margin-left: -1em;  
    color: rgb(231, 0, 0);
  }
}
.bandera-costarica .path5 {
  &:before {
    content: $bandera-costarica-path5;  
    margin-left: -1em;  
    color: rgb(231, 0, 0);
  }
}
.bandera-mexico .path1 {
  &:before {
    content: $bandera-mexico-path1;  
    color: rgb(206, 17, 38);
  }
}
.bandera-mexico .path2 {
  &:before {
    content: $bandera-mexico-path2;  
    margin-left: -1em;  
    color: rgb(0, 104, 71);
  }
}
.bandera-mexico .path3 {
  &:before {
    content: $bandera-mexico-path3;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-mexico .path4 {
  &:before {
    content: $bandera-mexico-path4;  
    margin-left: -1em;  
    color: rgb(9, 21, 38);
  }
}
.bandera-mexico .path5 {
  &:before {
    content: $bandera-mexico-path5;  
    margin-left: -1em;  
    color: rgb(9, 21, 38);
  }
}
.bandera-mexico .path6 {
  &:before {
    content: $bandera-mexico-path6;  
    margin-left: -1em;  
    color: rgb(9, 21, 38);
  }
}
.bandera-mexico .path7 {
  &:before {
    content: $bandera-mexico-path7;  
    margin-left: -1em;  
    color: rgb(9, 21, 38);
  }
}
.bandera-mexico .path8 {
  &:before {
    content: $bandera-mexico-path8;  
    margin-left: -1em;  
    color: rgb(9, 21, 38);
  }
}
.bandera-eeuu .path1 {
  &:before {
    content: $bandera-eeuu-path1;  
    color: rgb(4, 48, 103);
  }
}
.bandera-eeuu .path2 {
  &:before {
    content: $bandera-eeuu-path2;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path3 {
  &:before {
    content: $bandera-eeuu-path3;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path4 {
  &:before {
    content: $bandera-eeuu-path4;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path5 {
  &:before {
    content: $bandera-eeuu-path5;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path6 {
  &:before {
    content: $bandera-eeuu-path6;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path7 {
  &:before {
    content: $bandera-eeuu-path7;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path8 {
  &:before {
    content: $bandera-eeuu-path8;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path9 {
  &:before {
    content: $bandera-eeuu-path9;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path10 {
  &:before {
    content: $bandera-eeuu-path10;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path11 {
  &:before {
    content: $bandera-eeuu-path11;  
    margin-left: -1em;  
    color: rgb(206, 20, 61);
  }
}
.bandera-eeuu .path12 {
  &:before {
    content: $bandera-eeuu-path12;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path13 {
  &:before {
    content: $bandera-eeuu-path13;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path14 {
  &:before {
    content: $bandera-eeuu-path14;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path15 {
  &:before {
    content: $bandera-eeuu-path15;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path16 {
  &:before {
    content: $bandera-eeuu-path16;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path17 {
  &:before {
    content: $bandera-eeuu-path17;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path18 {
  &:before {
    content: $bandera-eeuu-path18;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path19 {
  &:before {
    content: $bandera-eeuu-path19;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path20 {
  &:before {
    content: $bandera-eeuu-path20;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path21 {
  &:before {
    content: $bandera-eeuu-path21;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path22 {
  &:before {
    content: $bandera-eeuu-path22;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path23 {
  &:before {
    content: $bandera-eeuu-path23;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path24 {
  &:before {
    content: $bandera-eeuu-path24;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path25 {
  &:before {
    content: $bandera-eeuu-path25;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path26 {
  &:before {
    content: $bandera-eeuu-path26;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path27 {
  &:before {
    content: $bandera-eeuu-path27;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.bandera-eeuu .path28 {
  &:before {
    content: $bandera-eeuu-path28;  
    margin-left: -1em;  
    color: rgb(75, 100, 140);
  }
}
.bandera-eeuu .path29 {
  &:before {
    content: $bandera-eeuu-path29;  
    margin-left: -1em;  
    color: rgb(75, 100, 140);
  }
}
.bandera-eeuu .path30 {
  &:before {
    content: $bandera-eeuu-path30;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path31 {
  &:before {
    content: $bandera-eeuu-path31;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path32 {
  &:before {
    content: $bandera-eeuu-path32;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path33 {
  &:before {
    content: $bandera-eeuu-path33;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path34 {
  &:before {
    content: $bandera-eeuu-path34;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path35 {
  &:before {
    content: $bandera-eeuu-path35;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path36 {
  &:before {
    content: $bandera-eeuu-path36;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path37 {
  &:before {
    content: $bandera-eeuu-path37;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path38 {
  &:before {
    content: $bandera-eeuu-path38;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path39 {
  &:before {
    content: $bandera-eeuu-path39;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path40 {
  &:before {
    content: $bandera-eeuu-path40;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path41 {
  &:before {
    content: $bandera-eeuu-path41;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path42 {
  &:before {
    content: $bandera-eeuu-path42;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path43 {
  &:before {
    content: $bandera-eeuu-path43;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path44 {
  &:before {
    content: $bandera-eeuu-path44;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}
.bandera-eeuu .path45 {
  &:before {
    content: $bandera-eeuu-path45;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path46 {
  &:before {
    content: $bandera-eeuu-path46;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path47 {
  &:before {
    content: $bandera-eeuu-path47;  
    margin-left: -1em;  
    color: rgb(75, 100, 140);
  }
}
.bandera-eeuu .path48 {
  &:before {
    content: $bandera-eeuu-path48;  
    margin-left: -1em;  
    color: rgb(106, 129, 161);
  }
}
.bandera-eeuu .path49 {
  &:before {
    content: $bandera-eeuu-path49;  
    margin-left: -1em;  
    color: rgb(139, 155, 180);
  }
}

