$icomoon-font-family: "Opciones-de-pago-Glyphs" !default;
$icomoon-font-path: "fonts" !default;

$pago-carnet: "\e900";
$pago-sodexo-path1: "\e901";
$pago-sodexo-path2: "\e902";
$pago-opcion-2-path1: "\e903";
$pago-opcion-2-path2: "\e904";
$pago-opcion-2-path3: "\e905";
$pago-opcion-2-path4: "\e906";
$pago-opcion-2-path5: "\e907";
$pago-opcion-2-path6: "\e908";
$pago-opcion-2-path7: "\e909";
$pago-opcion-2-path8: "\e90a";
$pago-opcion-2-path9: "\e90b";
$pago-opcion-2-path10: "\e90c";
$pago-apple-pay: "\e90d";
$pago-si-vale-path1: "\e90e";
$pago-si-vale-path2: "\e90f";
$pago-si-vale-path3: "\e910";
$pago-edenred: "\e911";
$pago-toka: "\e912";
$pago-samsung-pay: "\e913";
$pago-opcion-1-path1: "\e925";
$pago-opcion-1-path2: "\e926";
$pago-opcion-1-path3: "\e927";
$pago-opcion-1-path4: "\e928";
$pago-opcion-1-path5: "\e929";
$pago-opcion-1-path6: "\e92a";
$pago-opcion-1-path7: "\e92b";
$pago-opcion-1-path8: "\e92c";
$pago-opcion-1-path9: "\e92d";
$pago-opcion-1-path10: "\e92e";
$pago-opcion-1-path11: "\e92f";
$pago-opcion-1-path12: "\e930";
$pago-opcion-1-path13: "\e931";
$pago-opcion-1-path14: "\e932";
$pago-opcion-1-path15: "\e93f";
$pago-opcion-1-path16: "\e948";
$pago-opcion-1-path17: "\e949";
$pago-opcion-1-path18: "\e94a";
$pago-opcion-1-path19: "\e94b";
$pago-opcion-1-path20: "\e94c";
$pago-opcion-1-path21: "\e94d";
$pago-opcion-1-path22: "\e94e";
$pago-opcion-1-path23: "\e94f";
$pago-opcion-1-path24: "\e950";
$pago-opcion-1-path25: "\e951";
$pago-opcion-1-path26: "\e952";
$pago-opcion-1-path27: "\e953";
$pago-opcion-1-path28: "\e954";
$pago-opcion-1-path29: "\e955";
$pago-opcion-1-path30: "\e956";
$pago-opcion-1-path31: "\e957";
$pago-opcion-1-path32: "\e958";
$pago-opcion-1-path33: "\e959";
$pago-opcion-1-path34: "\e95a";
$pago-opcion-1-path35: "\e95b";
$pago-opcion-1-path36: "\e95c";
$pago-opcion-1-path37: "\e95d";
$pago-opcion-1-path38: "\e95e";
$pago-opcion-1-path39: "\e95f";
$pago-opcion-1-path40: "\e960";
$pago-opcion-1-path41: "\e961";
$pago-opcion-1-path42: "\e962";
$pago-opcion-1-path43: "\e963";
$pago-opcion-1-path44: "\e964";
$pago-opcion-1-path45: "\e965";
$pago-opcion-1-path46: "\e966";
$pago-opcion-1-path47: "\e967";
$pago-opcion-1-path48: "\e968";
$pago-opcion-1-path49: "\e969";
$pago-opcion-1-path50: "\e96a";
$pago-oxxo-path1: "\f407";
$pago-oxxo-path2: "\f408";
$pago-oxxo-path3: "\f409";
$pago-oxxo-path4: "\f40a";
$pago-oxxo-path5: "\f40b";
$pago-mercado-pago-letras-path1: "\f3be";
$pago-mercado-pago-letras-path2: "\f3bf";
$pago-mercado-pago-letras-path3: "\f3c0";
$pago-mercado-pago-letras-path4: "\f3c1";
$pago-mercado-pago-letras-path5: "\f3c2";
$pago-mercado-pago-letras-path6: "\f3c3";
$pago-mercado-pago-letras-path7: "\f3c4";
$pago-mercado-pago-letras-path8: "\f3c5";
$pago-mercado-pago-letras-path9: "\f3c6";
$pago-mercado-pago-letras-path10: "\f3c7";
$pago-mercado-pago-letras-path11: "\f3c8";
$pago-mercado-pago-path1: "\f3ad";
$pago-mercado-pago-path2: "\f3ae";
$pago-mercado-pago-path3: "\f3af";
$pago-mercado-pago-path4: "\f3b0";
$pago-mercado-pago-path5: "\f3b1";
$pago-mercado-pago-path6: "\f3b2";
$pago-mercado-pago-path7: "\f3b3";
$pago-mercado-pago-path8: "\f3b4";
$pago-mercado-pago-path9: "\f3b5";
$pago-mercado-pago-path10: "\f3b6";
$pago-mercado-pago-path11: "\f3b7";
$pago-mercado-pago-path12: "\f3b8";
$pago-mercado-pago-path13: "\f3b9";
$pago-mercado-pago-path14: "\f3ba";
$pago-mercado-pago-path15: "\f3bb";
$pago-mercado-pago-path16: "\f3bc";
$pago-mercado-pago-path17: "\f3bd";
$pago-mercado-pago-logo-path1: "\f3c9";
$pago-mercado-pago-logo-path2: "\f3ca";
$pago-mercado-pago-logo-path3: "\f3cb";
$pago-mercado-pago-logo-path4: "\f3cc";
$pago-mercado-pago-logo-path5: "\f3cd";
$pago-mercado-pago-logo-path6: "\f3ce";
$pago-clip-path1: "\effd";
$pago-clip-path2: "\effe";
$pago-clip-path3: "\efff";
$pago-clip-path4: "\f000";
$pago-clip-path5: "\f001";
$pago-clip-path6: "\f002";
$pago-mastercard-path1: "\f3a7";
$pago-mastercard-path2: "\f3a8";
$pago-mastercard-path3: "\f3a9";
$pago-mastercard-path4: "\f3aa";
$pago-visa: "\e96b";
$pago-american-express-path1: "\e943";
$pago-american-express-path2: "\e944";
$pago-banco-azteca-path1: "\ea36";
$pago-banco-azteca-path2: "\ea37";
$pago-banco-azteca-path3: "\ea38";
$pago-banco-azteca-path4: "\ea39";
$pago-banco-azteca-path5: "\ea3a";
$pago-banco-azteca-path6: "\ea3b";
$pago-banco-azteca-path7: "\ea3c";
$pago-banco-azteca-path8: "\ea3d";
$pago-banco-azteca-path9: "\ea3e";
$pago-banco-azteca-path10: "\ea3f";
$pago-banco-azteca-path11: "\ea40";
$pago-banco-azteca-path12: "\ea41";
$pago-banco-azteca-path13: "\ea42";

