@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?10k65f');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?10k65f#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?10k65f') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?10k65f') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?10k65f##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chaos-dragon-ball-z .path1 {
  &:before {
    content: $chaos-dragon-ball-z-path1;  
    color: rgb(100, 101, 107);
  }
}
.chaos-dragon-ball-z .path2 {
  &:before {
    content: $chaos-dragon-ball-z-path2;  
    margin-left: -1em;  
    color: rgb(100, 101, 107);
  }
}
.chaos-dragon-ball-z .path3 {
  &:before {
    content: $chaos-dragon-ball-z-path3;  
    margin-left: -1em;  
    color: rgb(100, 101, 107);
  }
}
.chaos-dragon-ball-z .path4 {
  &:before {
    content: $chaos-dragon-ball-z-path4;  
    margin-left: -1em;  
    color: rgb(100, 101, 107);
  }
}
.chaos-dragon-ball-z .path5 {
  &:before {
    content: $chaos-dragon-ball-z-path5;  
    margin-left: -1em;  
    color: rgb(67, 67, 84);
  }
}
.chaos-dragon-ball-z .path6 {
  &:before {
    content: $chaos-dragon-ball-z-path6;  
    margin-left: -1em;  
    color: rgb(67, 67, 84);
  }
}
.chaos-dragon-ball-z .path7 {
  &:before {
    content: $chaos-dragon-ball-z-path7;  
    margin-left: -1em;  
    color: rgb(67, 67, 84);
  }
}
.chaos-dragon-ball-z .path8 {
  &:before {
    content: $chaos-dragon-ball-z-path8;  
    margin-left: -1em;  
    color: rgb(33, 34, 54);
  }
}
.chaos-dragon-ball-z .path9 {
  &:before {
    content: $chaos-dragon-ball-z-path9;  
    margin-left: -1em;  
    color: rgb(33, 34, 54);
  }
}
.chaos-dragon-ball-z .path10 {
  &:before {
    content: $chaos-dragon-ball-z-path10;  
    margin-left: -1em;  
    color: rgb(33, 34, 54);
  }
}
.chaos-dragon-ball-z .path11 {
  &:before {
    content: $chaos-dragon-ball-z-path11;  
    margin-left: -1em;  
    color: rgb(33, 34, 54);
  }
}
.chaos-dragon-ball-z .path12 {
  &:before {
    content: $chaos-dragon-ball-z-path12;  
    margin-left: -1em;  
    color: rgb(33, 34, 54);
  }
}
.chaos-dragon-ball-z .path13 {
  &:before {
    content: $chaos-dragon-ball-z-path13;  
    margin-left: -1em;  
    color: rgb(151, 202, 199);
  }
}
.chaos-dragon-ball-z .path14 {
  &:before {
    content: $chaos-dragon-ball-z-path14;  
    margin-left: -1em;  
    color: rgb(151, 202, 199);
  }
}
.chaos-dragon-ball-z .path15 {
  &:before {
    content: $chaos-dragon-ball-z-path15;  
    margin-left: -1em;  
    color: rgb(151, 202, 199);
  }
}
.chaos-dragon-ball-z .path16 {
  &:before {
    content: $chaos-dragon-ball-z-path16;  
    margin-left: -1em;  
    color: rgb(150, 159, 159);
  }
}
.chaos-dragon-ball-z .path17 {
  &:before {
    content: $chaos-dragon-ball-z-path17;  
    margin-left: -1em;  
    color: rgb(150, 159, 159);
  }
}
.chaos-dragon-ball-z .path18 {
  &:before {
    content: $chaos-dragon-ball-z-path18;  
    margin-left: -1em;  
    color: rgb(150, 159, 159);
  }
}
.chaos-dragon-ball-z .path19 {
  &:before {
    content: $chaos-dragon-ball-z-path19;  
    margin-left: -1em;  
    color: rgb(150, 159, 159);
  }
}
.chaos-dragon-ball-z .path20 {
  &:before {
    content: $chaos-dragon-ball-z-path20;  
    margin-left: -1em;  
    color: rgb(150, 159, 159);
  }
}
.chaos-dragon-ball-z .path21 {
  &:before {
    content: $chaos-dragon-ball-z-path21;  
    margin-left: -1em;  
    color: rgb(3, 112, 4);
  }
}
.chaos-dragon-ball-z .path22 {
  &:before {
    content: $chaos-dragon-ball-z-path22;  
    margin-left: -1em;  
    color: rgb(3, 112, 4);
  }
}
.chaos-dragon-ball-z .path23 {
  &:before {
    content: $chaos-dragon-ball-z-path23;  
    margin-left: -1em;  
    color: rgb(5, 54, 5);
  }
}
.chaos-dragon-ball-z .path24 {
  &:before {
    content: $chaos-dragon-ball-z-path24;  
    margin-left: -1em;  
    color: rgb(5, 54, 5);
  }
}
.chaos-dragon-ball-z .path25 {
  &:before {
    content: $chaos-dragon-ball-z-path25;  
    margin-left: -1em;  
    color: rgb(251, 201, 36);
  }
}
.chaos-dragon-ball-z .path26 {
  &:before {
    content: $chaos-dragon-ball-z-path26;  
    margin-left: -1em;  
    color: rgb(251, 201, 36);
  }
}
.chaos-dragon-ball-z .path27 {
  &:before {
    content: $chaos-dragon-ball-z-path27;  
    margin-left: -1em;  
    color: rgb(251, 201, 36);
  }
}
.chaos-dragon-ball-z .path28 {
  &:before {
    content: $chaos-dragon-ball-z-path28;  
    margin-left: -1em;  
    color: rgb(212, 120, 3);
  }
}
.chaos-dragon-ball-z .path29 {
  &:before {
    content: $chaos-dragon-ball-z-path29;  
    margin-left: -1em;  
    color: rgb(212, 120, 3);
  }
}
.chaos-dragon-ball-z .path30 {
  &:before {
    content: $chaos-dragon-ball-z-path30;  
    margin-left: -1em;  
    color: rgb(131, 4, 4);
  }
}
.chaos-dragon-ball-z .path31 {
  &:before {
    content: $chaos-dragon-ball-z-path31;  
    margin-left: -1em;  
    color: rgb(131, 4, 4);
  }
}
.chaos-dragon-ball-z .path32 {
  &:before {
    content: $chaos-dragon-ball-z-path32;  
    margin-left: -1em;  
    color: rgb(131, 4, 4);
  }
}
.chaos-dragon-ball-z .path33 {
  &:before {
    content: $chaos-dragon-ball-z-path33;  
    margin-left: -1em;  
    color: rgb(131, 4, 4);
  }
}
.chaos-dragon-ball-z .path34 {
  &:before {
    content: $chaos-dragon-ball-z-path34;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path35 {
  &:before {
    content: $chaos-dragon-ball-z-path35;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path36 {
  &:before {
    content: $chaos-dragon-ball-z-path36;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path37 {
  &:before {
    content: $chaos-dragon-ball-z-path37;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path38 {
  &:before {
    content: $chaos-dragon-ball-z-path38;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path39 {
  &:before {
    content: $chaos-dragon-ball-z-path39;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path40 {
  &:before {
    content: $chaos-dragon-ball-z-path40;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path41 {
  &:before {
    content: $chaos-dragon-ball-z-path41;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path42 {
  &:before {
    content: $chaos-dragon-ball-z-path42;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path43 {
  &:before {
    content: $chaos-dragon-ball-z-path43;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path44 {
  &:before {
    content: $chaos-dragon-ball-z-path44;  
    margin-left: -1em;  
    color: rgb(180, 1, 1);
  }
}
.chaos-dragon-ball-z .path45 {
  &:before {
    content: $chaos-dragon-ball-z-path45;  
    margin-left: -1em;  
    color: rgb(83, 6, 6);
  }
}
.chaos-dragon-ball-z .path46 {
  &:before {
    content: $chaos-dragon-ball-z-path46;  
    margin-left: -1em;  
    color: rgb(83, 6, 6);
  }
}
.chaos-dragon-ball-z .path47 {
  &:before {
    content: $chaos-dragon-ball-z-path47;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path48 {
  &:before {
    content: $chaos-dragon-ball-z-path48;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path49 {
  &:before {
    content: $chaos-dragon-ball-z-path49;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path50 {
  &:before {
    content: $chaos-dragon-ball-z-path50;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path51 {
  &:before {
    content: $chaos-dragon-ball-z-path51;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path52 {
  &:before {
    content: $chaos-dragon-ball-z-path52;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path53 {
  &:before {
    content: $chaos-dragon-ball-z-path53;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path54 {
  &:before {
    content: $chaos-dragon-ball-z-path54;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path55 {
  &:before {
    content: $chaos-dragon-ball-z-path55;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path56 {
  &:before {
    content: $chaos-dragon-ball-z-path56;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path57 {
  &:before {
    content: $chaos-dragon-ball-z-path57;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path58 {
  &:before {
    content: $chaos-dragon-ball-z-path58;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path59 {
  &:before {
    content: $chaos-dragon-ball-z-path59;  
    margin-left: -1em;  
    color: rgb(227, 220, 224);
  }
}
.chaos-dragon-ball-z .path60 {
  &:before {
    content: $chaos-dragon-ball-z-path60;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path61 {
  &:before {
    content: $chaos-dragon-ball-z-path61;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path62 {
  &:before {
    content: $chaos-dragon-ball-z-path62;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path63 {
  &:before {
    content: $chaos-dragon-ball-z-path63;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path64 {
  &:before {
    content: $chaos-dragon-ball-z-path64;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path65 {
  &:before {
    content: $chaos-dragon-ball-z-path65;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path66 {
  &:before {
    content: $chaos-dragon-ball-z-path66;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path67 {
  &:before {
    content: $chaos-dragon-ball-z-path67;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path68 {
  &:before {
    content: $chaos-dragon-ball-z-path68;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path69 {
  &:before {
    content: $chaos-dragon-ball-z-path69;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.chaos-dragon-ball-z .path70 {
  &:before {
    content: $chaos-dragon-ball-z-path70;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path71 {
  &:before {
    content: $chaos-dragon-ball-z-path71;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path72 {
  &:before {
    content: $chaos-dragon-ball-z-path72;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path73 {
  &:before {
    content: $chaos-dragon-ball-z-path73;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path74 {
  &:before {
    content: $chaos-dragon-ball-z-path74;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path75 {
  &:before {
    content: $chaos-dragon-ball-z-path75;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path76 {
  &:before {
    content: $chaos-dragon-ball-z-path76;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path77 {
  &:before {
    content: $chaos-dragon-ball-z-path77;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path78 {
  &:before {
    content: $chaos-dragon-ball-z-path78;  
    margin-left: -1em;  
    color: rgb(2, 4, 26);
  }
}
.chaos-dragon-ball-z .path79 {
  &:before {
    content: $chaos-dragon-ball-z-path79;  
    margin-left: -1em;  
    color: rgb(149, 242, 234);
  }
}
.trasero-vegeta .path1 {
  &:before {
    content: $trasero-vegeta-path1;  
    color: rgb(195, 155, 61);
  }
}
.trasero-vegeta .path2 {
  &:before {
    content: $trasero-vegeta-path2;  
    margin-left: -1em;  
    color: rgb(195, 155, 61);
  }
}
.trasero-vegeta .path3 {
  &:before {
    content: $trasero-vegeta-path3;  
    margin-left: -1em;  
    color: rgb(195, 155, 61);
  }
}
.trasero-vegeta .path4 {
  &:before {
    content: $trasero-vegeta-path4;  
    margin-left: -1em;  
    color: rgb(245, 245, 202);
  }
}
.trasero-vegeta .path5 {
  &:before {
    content: $trasero-vegeta-path5;  
    margin-left: -1em;  
    color: rgb(245, 245, 202);
  }
}
.trasero-vegeta .path6 {
  &:before {
    content: $trasero-vegeta-path6;  
    margin-left: -1em;  
    color: rgb(245, 245, 202);
  }
}
.trasero-vegeta .path7 {
  &:before {
    content: $trasero-vegeta-path7;  
    margin-left: -1em;  
    color: rgb(245, 245, 202);
  }
}
.trasero-vegeta .path8 {
  &:before {
    content: $trasero-vegeta-path8;  
    margin-left: -1em;  
    color: rgb(242, 214, 90);
  }
}
.trasero-vegeta .path9 {
  &:before {
    content: $trasero-vegeta-path9;  
    margin-left: -1em;  
    color: rgb(242, 214, 90);
  }
}
.trasero-vegeta .path10 {
  &:before {
    content: $trasero-vegeta-path10;  
    margin-left: -1em;  
    color: rgb(242, 214, 90);
  }
}
.trasero-vegeta .path11 {
  &:before {
    content: $trasero-vegeta-path11;  
    margin-left: -1em;  
    color: rgb(242, 214, 90);
  }
}
.trasero-vegeta .path12 {
  &:before {
    content: $trasero-vegeta-path12;  
    margin-left: -1em;  
    color: rgb(162, 162, 165);
  }
}
.trasero-vegeta .path13 {
  &:before {
    content: $trasero-vegeta-path13;  
    margin-left: -1em;  
    color: rgb(162, 162, 165);
  }
}
.trasero-vegeta .path14 {
  &:before {
    content: $trasero-vegeta-path14;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.trasero-vegeta .path15 {
  &:before {
    content: $trasero-vegeta-path15;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.trasero-vegeta .path16 {
  &:before {
    content: $trasero-vegeta-path16;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.trasero-vegeta .path17 {
  &:before {
    content: $trasero-vegeta-path17;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path18 {
  &:before {
    content: $trasero-vegeta-path18;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path19 {
  &:before {
    content: $trasero-vegeta-path19;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path20 {
  &:before {
    content: $trasero-vegeta-path20;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path21 {
  &:before {
    content: $trasero-vegeta-path21;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path22 {
  &:before {
    content: $trasero-vegeta-path22;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path23 {
  &:before {
    content: $trasero-vegeta-path23;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path24 {
  &:before {
    content: $trasero-vegeta-path24;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path25 {
  &:before {
    content: $trasero-vegeta-path25;  
    margin-left: -1em;  
    color: rgb(44, 53, 79);
  }
}
.trasero-vegeta .path26 {
  &:before {
    content: $trasero-vegeta-path26;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path27 {
  &:before {
    content: $trasero-vegeta-path27;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path28 {
  &:before {
    content: $trasero-vegeta-path28;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path29 {
  &:before {
    content: $trasero-vegeta-path29;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path30 {
  &:before {
    content: $trasero-vegeta-path30;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path31 {
  &:before {
    content: $trasero-vegeta-path31;  
    margin-left: -1em;  
    color: rgb(41, 41, 41);
  }
}
.trasero-vegeta .path32 {
  &:before {
    content: $trasero-vegeta-path32;  
    margin-left: -1em;  
    color: rgb(34, 93, 149);
  }
}
.amor-love-toy-story .path1 {
  &:before {
    content: $amor-love-toy-story-path1;  
    color: rgb(253, 169, 1);
  }
}
.amor-love-toy-story .path2 {
  &:before {
    content: $amor-love-toy-story-path2;  
    margin-left: -1em;  
    color: rgb(114, 3, 4);
  }
}
.amor-love-toy-story .path3 {
  &:before {
    content: $amor-love-toy-story-path3;  
    margin-left: -1em;  
    color: rgb(114, 3, 4);
  }
}
.amor-love-toy-story .path4 {
  &:before {
    content: $amor-love-toy-story-path4;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.amor-love-toy-story .path5 {
  &:before {
    content: $amor-love-toy-story-path5;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.amor-love-toy-story .path6 {
  &:before {
    content: $amor-love-toy-story-path6;  
    margin-left: -1em;  
    color: rgb(234, 234, 234);
  }
}
.amor-love-toy-story .path7 {
  &:before {
    content: $amor-love-toy-story-path7;  
    margin-left: -1em;  
    color: rgb(248, 180, 133);
  }
}
.amor-love-toy-story .path8 {
  &:before {
    content: $amor-love-toy-story-path8;  
    margin-left: -1em;  
    color: rgb(4, 3, 5);
  }
}
.amor-love-toy-story .path9 {
  &:before {
    content: $amor-love-toy-story-path9;  
    margin-left: -1em;  
    color: rgb(56, 23, 5);
  }
}
.amor-love-toy-story .path10 {
  &:before {
    content: $amor-love-toy-story-path10;  
    margin-left: -1em;  
    color: rgb(2, 253, 4);
  }
}
.amor-love-toy-story .path11 {
  &:before {
    content: $amor-love-toy-story-path11;  
    margin-left: -1em;  
    color: rgb(139, 139, 139);
  }
}
.amor-love-toy-story .path12 {
  &:before {
    content: $amor-love-toy-story-path12;  
    margin-left: -1em;  
    color: rgb(9, 80, 9);
  }
}
.amor-love-toy-story .path13 {
  &:before {
    content: $amor-love-toy-story-path13;  
    margin-left: -1em;  
    color: rgb(109, 109, 108);
  }
}
.amor-love-toy-story .path14 {
  &:before {
    content: $amor-love-toy-story-path14;  
    margin-left: -1em;  
    color: rgb(233, 233, 233);
  }
}
.amor-love-toy-story .path15 {
  &:before {
    content: $amor-love-toy-story-path15;  
    margin-left: -1em;  
    color: rgb(172, 172, 172);
  }
}
.amor-love-toy-story .path16 {
  &:before {
    content: $amor-love-toy-story-path16;  
    margin-left: -1em;  
    color: rgb(155, 10, 231);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path1 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path1;  
    color: rgb(238, 40, 67);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path2 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path2;  
    margin-left: -1em;  
    color: rgb(252, 138, 28);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path3 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path3;  
    margin-left: -1em;  
    color: rgb(252, 138, 28);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path4 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path4;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path5 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path5;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path6 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path6;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path7 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path7;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path8 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path8;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path9 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path9;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path10 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path10;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path11 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path11;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path12 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path12;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path13 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path13;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path14 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path14;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path15 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path15;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path16 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path16;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path17 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path17;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path18 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path18;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path19 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path19;  
    margin-left: -1em;  
    color: rgb(254, 137, 24);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path20 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path20;  
    margin-left: -1em;  
    color: rgb(254, 137, 24);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path21 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path21;  
    margin-left: -1em;  
    color: rgb(234, 44, 17);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path22 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path22;  
    margin-left: -1em;  
    color: rgb(5, 141, 65);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path23 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path23;  
    margin-left: -1em;  
    color: rgb(1, 86, 153);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path24 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path24;  
    margin-left: -1em;  
    color: rgb(1, 86, 150);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path25 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path25;  
    margin-left: -1em;  
    color: rgb(245, 138, 25);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path26 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path26;  
    margin-left: -1em;  
    color: rgb(5, 85, 153);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path27 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path27;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path28 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path28;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path29 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path29;  
    margin-left: -1em;  
    color: rgb(99, 40, 91);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path30 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path30;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path31 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path31;  
    margin-left: -1em;  
    color: rgb(234, 140, 48);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path32 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path32;  
    margin-left: -1em;  
    color: rgb(216, 134, 56);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path33 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path33;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path34 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path34;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path35 {
  &:before {
    content: $logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path35;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.cursor-hand {
  &:before {
    content: $cursor-hand; 
  }
}
.hospedaje {
  &:before {
    content: $hospedaje; 
  }
}
.codepen {
  &:before {
    content: $codepen; 
  }
}
.github {
  &:before {
    content: $github; 
  }
}
.www {
  &:before {
    content: $www;     
    color: #aa1018;
  }
}
.twitter-bird {
  &:before {
    content: $twitter-bird;     
    color: #00afef;
  }
}
.drag-rupaul .path1 {
  &:before {
    content: $drag-rupaul-path1;  
    color: rgb(1, 1, 1);
  }
}
.drag-rupaul .path2 {
  &:before {
    content: $drag-rupaul-path2;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.drag-rupaul .path3 {
  &:before {
    content: $drag-rupaul-path3;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.drag-rupaul .path4 {
  &:before {
    content: $drag-rupaul-path4;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.drag-rupaul .path5 {
  &:before {
    content: $drag-rupaul-path5;  
    margin-left: -1em;  
    color: rgb(136, 136, 136);
  }
}
.viajero {
  &:before {
    content: $viajero; 
  }
}
.solicitar-transporte {
  &:before {
    content: $solicitar-transporte; 
  }
}
.sexoral-one {
  &:before {
    content: $sexoral-one; 
  }
}
.bailar {
  &:before {
    content: $bailar; 
  }
}
.avatar-fuera-del-closet {
  &:before {
    content: $avatar-fuera-del-closet; 
  }
}
.hombre {
  &:before {
    content: $hombre; 
  }
}
.corriendo {
  &:before {
    content: $corriendo; 
  }
}
.flecha-atras {
  &:before {
    content: $flecha-atras; 
  }
}
.flecha-siguiente {
  &:before {
    content: $flecha-siguiente; 
  }
}
.touch_app {
  &:before {
    content: $touch_app; 
  }
}
.tarjeta-de-regalo {
  &:before {
    content: $tarjeta-de-regalo; 
  }
}
.home {
  &:before {
    content: $home; 
  }
}
.avatar-hihello {
  &:before {
    content: $avatar-hihello; 
  }
}
.pokebola {
  &:before {
    content: $pokebola; 
  }
}
.logo-hihello .path1 {
  &:before {
    content: $logo-hihello-path1;  
    color: rgb(0, 0, 0);
  }
}
.logo-hihello .path2 {
  &:before {
    content: $logo-hihello-path2;  
    margin-left: -5.7314453125em;  
    color: rgb(105, 54, 152);
  }
}
.logo-hihello .path3 {
  &:before {
    content: $logo-hihello-path3;  
    margin-left: -5.7314453125em;  
    color: rgb(80, 201, 135);
  }
}
.xiiber {
  &:before {
    content: $xiiber; 
  }
}
.mascota {
  &:before {
    content: $mascota;     
    color: #ec268f;
  }
}
.dragon-ball-burger .path1 {
  &:before {
    content: $dragon-ball-burger-path1;  
    color: rgb(233, 54, 56);
  }
}
.dragon-ball-burger .path2 {
  &:before {
    content: $dragon-ball-burger-path2;  
    margin-left: -1em;  
    color: rgb(0, 90, 171);
  }
}
.dragon-ball-burger .path3 {
  &:before {
    content: $dragon-ball-burger-path3;  
    margin-left: -1em;  
    color: rgb(250, 177, 22);
  }
}
.senzubucks-coffee .path1 {
  &:before {
    content: $senzubucks-coffee-path1;  
    color: rgb(0, 88, 46);
  }
}
.senzubucks-coffee .path2 {
  &:before {
    content: $senzubucks-coffee-path2;  
    margin-left: -1em;  
    color: rgb(32, 30, 30);
  }
}
.corazon-doble {
  &:before {
    content: $corazon-doble; 
  }
}
.netflix-sexflix {
  &:before {
    content: $netflix-sexflix;     
    color: #d9202b;
  }
}
.masturbate .path1 {
  &:before {
    content: $masturbate-path1;  
    color: rgb(253, 152, 0);
  }
}
.masturbate .path2 {
  &:before {
    content: $masturbate-path2;  
    margin-left: -1em;  
    color: rgb(204, 0, 1);
  }
}
.gato {
  &:before {
    content: $gato; 
  }
}
.luna-pokemon {
  &:before {
    content: $luna-pokemon; 
  }
}
.sol-pokemon {
  &:before {
    content: $sol-pokemon; 
  }
}
.yas-queen {
  &:before {
    content: $yas-queen; 
  }
}
.flecha-atras1 {
  &:before {
    content: $flecha-atras1; 
  }
}
.flecha-siguiente1 {
  &:before {
    content: $flecha-siguiente1; 
  }
}
.lavarse-las-manos {
  &:before {
    content: $lavarse-las-manos; 
  }
}
.enjabonarse-las-manos {
  &:before {
    content: $enjabonarse-las-manos; 
  }
}
.secarse-las-manos {
  &:before {
    content: $secarse-las-manos; 
  }
}
.touch_app1 {
  &:before {
    content: $touch_app1; 
  }
}
.copiar {
  &:before {
    content: $copiar; 
  }
}
.guardar {
  &:before {
    content: $guardar; 
  }
}
.menu-puntos {
  &:before {
    content: $menu-puntos; 
  }
}
.menu {
  &:before {
    content: $menu; 
  }
}
.home1 {
  &:before {
    content: $home1; 
  }
}

