@font-face {
  font-family: 'how-to';
  src:  url('fonts/how-to.eot?10k65f');
  src:  url('fonts/how-to.eot?10k65f#iefix') format('embedded-opentype'),
    url('fonts/how-to.ttf?10k65f') format('truetype'),
    url('fonts/how-to.woff?10k65f') format('woff'),
    url('fonts/how-to.svg?10k65f#how-to') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'how-to' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chaos-dragon-ball-z .path1:before {
  content: "\e9c8";
  color: rgb(100, 101, 107);
}
.chaos-dragon-ball-z .path2:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(100, 101, 107);
}
.chaos-dragon-ball-z .path3:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(100, 101, 107);
}
.chaos-dragon-ball-z .path4:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(100, 101, 107);
}
.chaos-dragon-ball-z .path5:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(67, 67, 84);
}
.chaos-dragon-ball-z .path6:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(67, 67, 84);
}
.chaos-dragon-ball-z .path7:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(67, 67, 84);
}
.chaos-dragon-ball-z .path8:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(33, 34, 54);
}
.chaos-dragon-ball-z .path9:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(33, 34, 54);
}
.chaos-dragon-ball-z .path10:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(33, 34, 54);
}
.chaos-dragon-ball-z .path11:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(33, 34, 54);
}
.chaos-dragon-ball-z .path12:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(33, 34, 54);
}
.chaos-dragon-ball-z .path13:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(151, 202, 199);
}
.chaos-dragon-ball-z .path14:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(151, 202, 199);
}
.chaos-dragon-ball-z .path15:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(151, 202, 199);
}
.chaos-dragon-ball-z .path16:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(150, 159, 159);
}
.chaos-dragon-ball-z .path17:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(150, 159, 159);
}
.chaos-dragon-ball-z .path18:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(150, 159, 159);
}
.chaos-dragon-ball-z .path19:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(150, 159, 159);
}
.chaos-dragon-ball-z .path20:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(150, 159, 159);
}
.chaos-dragon-ball-z .path21:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(3, 112, 4);
}
.chaos-dragon-ball-z .path22:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(3, 112, 4);
}
.chaos-dragon-ball-z .path23:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(5, 54, 5);
}
.chaos-dragon-ball-z .path24:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(5, 54, 5);
}
.chaos-dragon-ball-z .path25:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(251, 201, 36);
}
.chaos-dragon-ball-z .path26:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(251, 201, 36);
}
.chaos-dragon-ball-z .path27:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(251, 201, 36);
}
.chaos-dragon-ball-z .path28:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(212, 120, 3);
}
.chaos-dragon-ball-z .path29:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(212, 120, 3);
}
.chaos-dragon-ball-z .path30:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(131, 4, 4);
}
.chaos-dragon-ball-z .path31:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(131, 4, 4);
}
.chaos-dragon-ball-z .path32:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(131, 4, 4);
}
.chaos-dragon-ball-z .path33:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(131, 4, 4);
}
.chaos-dragon-ball-z .path34:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path35:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path36:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path37:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path38:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path39:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path40:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path41:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path42:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path43:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path44:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(180, 1, 1);
}
.chaos-dragon-ball-z .path45:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(83, 6, 6);
}
.chaos-dragon-ball-z .path46:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(83, 6, 6);
}
.chaos-dragon-ball-z .path47:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path48:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path49:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path50:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path51:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path52:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path53:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path54:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path55:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path56:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path57:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path58:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path59:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(227, 220, 224);
}
.chaos-dragon-ball-z .path60:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path61:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path62:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path63:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path64:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path65:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path66:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path67:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path68:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path69:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.chaos-dragon-ball-z .path70:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path71:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path72:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path73:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path74:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path75:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path76:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path77:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path78:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(2, 4, 26);
}
.chaos-dragon-ball-z .path79:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(149, 242, 234);
}
.trasero-vegeta .path1:before {
  content: "\ea17";
  color: rgb(195, 155, 61);
}
.trasero-vegeta .path2:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(195, 155, 61);
}
.trasero-vegeta .path3:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(195, 155, 61);
}
.trasero-vegeta .path4:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(245, 245, 202);
}
.trasero-vegeta .path5:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(245, 245, 202);
}
.trasero-vegeta .path6:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(245, 245, 202);
}
.trasero-vegeta .path7:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(245, 245, 202);
}
.trasero-vegeta .path8:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(242, 214, 90);
}
.trasero-vegeta .path9:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(242, 214, 90);
}
.trasero-vegeta .path10:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(242, 214, 90);
}
.trasero-vegeta .path11:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(242, 214, 90);
}
.trasero-vegeta .path12:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(162, 162, 165);
}
.trasero-vegeta .path13:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(162, 162, 165);
}
.trasero-vegeta .path14:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.trasero-vegeta .path15:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.trasero-vegeta .path16:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.trasero-vegeta .path17:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path18:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path19:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path20:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path21:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path22:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path23:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path24:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path25:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(44, 53, 79);
}
.trasero-vegeta .path26:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path27:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path28:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path29:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path30:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path31:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.trasero-vegeta .path32:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(34, 93, 149);
}
.amor-love-toy-story .path1:before {
  content: "\ea37";
  color: rgb(253, 169, 1);
}
.amor-love-toy-story .path2:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(114, 3, 4);
}
.amor-love-toy-story .path3:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(114, 3, 4);
}
.amor-love-toy-story .path4:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.amor-love-toy-story .path5:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.amor-love-toy-story .path6:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.amor-love-toy-story .path7:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(248, 180, 133);
}
.amor-love-toy-story .path8:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(4, 3, 5);
}
.amor-love-toy-story .path9:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(56, 23, 5);
}
.amor-love-toy-story .path10:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(2, 253, 4);
}
.amor-love-toy-story .path11:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(139, 139, 139);
}
.amor-love-toy-story .path12:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(9, 80, 9);
}
.amor-love-toy-story .path13:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(109, 109, 108);
}
.amor-love-toy-story .path14:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.amor-love-toy-story .path15:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(172, 172, 172);
}
.amor-love-toy-story .path16:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(155, 10, 231);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path1:before {
  content: "\f344";
  color: rgb(238, 40, 67);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path2:before {
  content: "\f345";
  margin-left: -1em;
  color: rgb(252, 138, 28);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path3:before {
  content: "\f346";
  margin-left: -1em;
  color: rgb(252, 138, 28);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path4:before {
  content: "\f347";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path5:before {
  content: "\f348";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path6:before {
  content: "\f349";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path7:before {
  content: "\f34a";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path8:before {
  content: "\f34b";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path9:before {
  content: "\f34c";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path10:before {
  content: "\f34d";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path11:before {
  content: "\f34e";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path12:before {
  content: "\f34f";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path13:before {
  content: "\f350";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path14:before {
  content: "\f351";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path15:before {
  content: "\f352";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path16:before {
  content: "\f353";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path17:before {
  content: "\f354";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path18:before {
  content: "\f355";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path19:before {
  content: "\f356";
  margin-left: -1em;
  color: rgb(254, 137, 24);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path20:before {
  content: "\f357";
  margin-left: -1em;
  color: rgb(254, 137, 24);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path21:before {
  content: "\f358";
  margin-left: -1em;
  color: rgb(234, 44, 17);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path22:before {
  content: "\f359";
  margin-left: -1em;
  color: rgb(5, 141, 65);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path23:before {
  content: "\f35a";
  margin-left: -1em;
  color: rgb(1, 86, 153);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path24:before {
  content: "\f35b";
  margin-left: -1em;
  color: rgb(1, 86, 150);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path25:before {
  content: "\f35c";
  margin-left: -1em;
  color: rgb(245, 138, 25);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path26:before {
  content: "\f35d";
  margin-left: -1em;
  color: rgb(5, 85, 153);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path27:before {
  content: "\f35e";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path28:before {
  content: "\f35f";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path29:before {
  content: "\f360";
  margin-left: -1em;
  color: rgb(99, 40, 91);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path30:before {
  content: "\f361";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path31:before {
  content: "\f362";
  margin-left: -1em;
  color: rgb(234, 140, 48);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path32:before {
  content: "\f363";
  margin-left: -1em;
  color: rgb(216, 134, 56);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path33:before {
  content: "\f364";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path34:before {
  content: "\f365";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path35:before {
  content: "\f366";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.cursor-hand:before {
  content: "\f630";
}
.hospedaje:before {
  content: "\f63d";
}
.codepen:before {
  content: "\f657";
}
.github:before {
  content: "\f65c";
}
.www:before {
  content: "\f65f";
  color: #aa1018;
}
.twitter-bird:before {
  content: "\f5a4";
  color: #00afef;
}
.drag-rupaul .path1:before {
  content: "\ea47";
  color: rgb(1, 1, 1);
}
.drag-rupaul .path2:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.drag-rupaul .path3:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.drag-rupaul .path4:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.drag-rupaul .path5:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.viajero:before {
  content: "\ea5d";
}
.solicitar-transporte:before {
  content: "\f45f";
}
.sexoral-one:before {
  content: "\f45b";
}
.bailar:before {
  content: "\ea60";
}
.avatar-fuera-del-closet:before {
  content: "\ea61";
}
.hombre:before {
  content: "\ea62";
}
.corriendo:before {
  content: "\f094";
}
.flecha-atras:before {
  content: "\f0aa";
}
.flecha-siguiente:before {
  content: "\f0ab";
}
.touch_app:before {
  content: "\f56c";
}
.tarjeta-de-regalo:before {
  content: "\f463";
}
.home:before {
  content: "\f0b4";
}
.avatar-hihello:before {
  content: "\ec41";
}
.pokebola:before {
  content: "\f413";
}
.logo-hihello .path1:before {
  content: "\ea51";
  color: rgb(0, 0, 0);
}
.logo-hihello .path2:before {
  content: "\ea52";
  margin-left: -5.7314453125em;
  color: rgb(105, 54, 152);
}
.logo-hihello .path3:before {
  content: "\ea53";
  margin-left: -5.7314453125em;
  color: rgb(80, 201, 135);
}
.xiiber:before {
  content: "\f0b5";
}
.mascota:before {
  content: "\e900";
  color: #ec268f;
}
.dragon-ball-burger .path1:before {
  content: "\e901";
  color: rgb(233, 54, 56);
}
.dragon-ball-burger .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 90, 171);
}
.dragon-ball-burger .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(250, 177, 22);
}
.senzubucks-coffee .path1:before {
  content: "\e904";
  color: rgb(0, 88, 46);
}
.senzubucks-coffee .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(32, 30, 30);
}
.corazon-doble:before {
  content: "\e906";
}
.netflix-sexflix:before {
  content: "\e907";
  color: #d9202b;
}
.masturbate .path1:before {
  content: "\e908";
  color: rgb(253, 152, 0);
}
.masturbate .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(204, 0, 1);
}
.gato:before {
  content: "\ec5f";
}
.luna-pokemon:before {
  content: "\ea48";
}
.sol-pokemon:before {
  content: "\ea4b";
}
.yas-queen:before {
  content: "\ea5f";
}
.flecha-atras1:before {
  content: "\f0a8";
}
.flecha-siguiente1:before {
  content: "\f0a9";
}
.lavarse-las-manos:before {
  content: "\f0c1";
}
.enjabonarse-las-manos:before {
  content: "\f09c";
}
.secarse-las-manos:before {
  content: "\f45a";
}
.touch_app1:before {
  content: "\f56b";
}
.copiar:before {
  content: "\f093";
}
.guardar:before {
  content: "\f0b2";
}
.menu-puntos:before {
  content: "\f3ac";
}
.menu:before {
  content: "\f3ab";
}
.home1:before {
  content: "\f0b3";
}
