$icomoon-font-family: "how-to" !default;
$icomoon-font-path: "fonts" !default;

$chaos-dragon-ball-z-path1: "\e9c8";
$chaos-dragon-ball-z-path2: "\e9c9";
$chaos-dragon-ball-z-path3: "\e9ca";
$chaos-dragon-ball-z-path4: "\e9cb";
$chaos-dragon-ball-z-path5: "\e9cc";
$chaos-dragon-ball-z-path6: "\e9cd";
$chaos-dragon-ball-z-path7: "\e9ce";
$chaos-dragon-ball-z-path8: "\e9cf";
$chaos-dragon-ball-z-path9: "\e9d0";
$chaos-dragon-ball-z-path10: "\e9d1";
$chaos-dragon-ball-z-path11: "\e9d2";
$chaos-dragon-ball-z-path12: "\e9d3";
$chaos-dragon-ball-z-path13: "\e9d4";
$chaos-dragon-ball-z-path14: "\e9d5";
$chaos-dragon-ball-z-path15: "\e9d6";
$chaos-dragon-ball-z-path16: "\e9d7";
$chaos-dragon-ball-z-path17: "\e9d8";
$chaos-dragon-ball-z-path18: "\e9d9";
$chaos-dragon-ball-z-path19: "\e9da";
$chaos-dragon-ball-z-path20: "\e9db";
$chaos-dragon-ball-z-path21: "\e9dc";
$chaos-dragon-ball-z-path22: "\e9dd";
$chaos-dragon-ball-z-path23: "\e9de";
$chaos-dragon-ball-z-path24: "\e9df";
$chaos-dragon-ball-z-path25: "\e9e0";
$chaos-dragon-ball-z-path26: "\e9e1";
$chaos-dragon-ball-z-path27: "\e9e2";
$chaos-dragon-ball-z-path28: "\e9e3";
$chaos-dragon-ball-z-path29: "\e9e4";
$chaos-dragon-ball-z-path30: "\e9e5";
$chaos-dragon-ball-z-path31: "\e9e6";
$chaos-dragon-ball-z-path32: "\e9e7";
$chaos-dragon-ball-z-path33: "\e9e8";
$chaos-dragon-ball-z-path34: "\e9e9";
$chaos-dragon-ball-z-path35: "\e9ea";
$chaos-dragon-ball-z-path36: "\e9eb";
$chaos-dragon-ball-z-path37: "\e9ec";
$chaos-dragon-ball-z-path38: "\e9ed";
$chaos-dragon-ball-z-path39: "\e9ee";
$chaos-dragon-ball-z-path40: "\e9ef";
$chaos-dragon-ball-z-path41: "\e9f0";
$chaos-dragon-ball-z-path42: "\e9f1";
$chaos-dragon-ball-z-path43: "\e9f2";
$chaos-dragon-ball-z-path44: "\e9f3";
$chaos-dragon-ball-z-path45: "\e9f4";
$chaos-dragon-ball-z-path46: "\e9f5";
$chaos-dragon-ball-z-path47: "\e9f6";
$chaos-dragon-ball-z-path48: "\e9f7";
$chaos-dragon-ball-z-path49: "\e9f8";
$chaos-dragon-ball-z-path50: "\e9f9";
$chaos-dragon-ball-z-path51: "\e9fa";
$chaos-dragon-ball-z-path52: "\e9fb";
$chaos-dragon-ball-z-path53: "\e9fc";
$chaos-dragon-ball-z-path54: "\e9fd";
$chaos-dragon-ball-z-path55: "\e9fe";
$chaos-dragon-ball-z-path56: "\e9ff";
$chaos-dragon-ball-z-path57: "\ea00";
$chaos-dragon-ball-z-path58: "\ea01";
$chaos-dragon-ball-z-path59: "\ea02";
$chaos-dragon-ball-z-path60: "\ea03";
$chaos-dragon-ball-z-path61: "\ea04";
$chaos-dragon-ball-z-path62: "\ea05";
$chaos-dragon-ball-z-path63: "\ea06";
$chaos-dragon-ball-z-path64: "\ea07";
$chaos-dragon-ball-z-path65: "\ea08";
$chaos-dragon-ball-z-path66: "\ea09";
$chaos-dragon-ball-z-path67: "\ea0a";
$chaos-dragon-ball-z-path68: "\ea0b";
$chaos-dragon-ball-z-path69: "\ea0c";
$chaos-dragon-ball-z-path70: "\ea0d";
$chaos-dragon-ball-z-path71: "\ea0e";
$chaos-dragon-ball-z-path72: "\ea0f";
$chaos-dragon-ball-z-path73: "\ea10";
$chaos-dragon-ball-z-path74: "\ea11";
$chaos-dragon-ball-z-path75: "\ea12";
$chaos-dragon-ball-z-path76: "\ea13";
$chaos-dragon-ball-z-path77: "\ea14";
$chaos-dragon-ball-z-path78: "\ea15";
$chaos-dragon-ball-z-path79: "\ea16";
$trasero-vegeta-path1: "\ea17";
$trasero-vegeta-path2: "\ea18";
$trasero-vegeta-path3: "\ea19";
$trasero-vegeta-path4: "\ea1a";
$trasero-vegeta-path5: "\ea1b";
$trasero-vegeta-path6: "\ea1c";
$trasero-vegeta-path7: "\ea1d";
$trasero-vegeta-path8: "\ea1e";
$trasero-vegeta-path9: "\ea1f";
$trasero-vegeta-path10: "\ea20";
$trasero-vegeta-path11: "\ea21";
$trasero-vegeta-path12: "\ea22";
$trasero-vegeta-path13: "\ea23";
$trasero-vegeta-path14: "\ea24";
$trasero-vegeta-path15: "\ea25";
$trasero-vegeta-path16: "\ea26";
$trasero-vegeta-path17: "\ea27";
$trasero-vegeta-path18: "\ea28";
$trasero-vegeta-path19: "\ea29";
$trasero-vegeta-path20: "\ea2a";
$trasero-vegeta-path21: "\ea2b";
$trasero-vegeta-path22: "\ea2c";
$trasero-vegeta-path23: "\ea2d";
$trasero-vegeta-path24: "\ea2e";
$trasero-vegeta-path25: "\ea2f";
$trasero-vegeta-path26: "\ea30";
$trasero-vegeta-path27: "\ea31";
$trasero-vegeta-path28: "\ea32";
$trasero-vegeta-path29: "\ea33";
$trasero-vegeta-path30: "\ea34";
$trasero-vegeta-path31: "\ea35";
$trasero-vegeta-path32: "\ea36";
$amor-love-toy-story-path1: "\ea37";
$amor-love-toy-story-path2: "\ea38";
$amor-love-toy-story-path3: "\ea39";
$amor-love-toy-story-path4: "\ea3a";
$amor-love-toy-story-path5: "\ea3b";
$amor-love-toy-story-path6: "\ea3c";
$amor-love-toy-story-path7: "\ea3d";
$amor-love-toy-story-path8: "\ea3e";
$amor-love-toy-story-path9: "\ea3f";
$amor-love-toy-story-path10: "\ea40";
$amor-love-toy-story-path11: "\ea41";
$amor-love-toy-story-path12: "\ea42";
$amor-love-toy-story-path13: "\ea43";
$amor-love-toy-story-path14: "\ea44";
$amor-love-toy-story-path15: "\ea45";
$amor-love-toy-story-path16: "\ea46";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path1: "\f344";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path2: "\f345";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path3: "\f346";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path4: "\f347";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path5: "\f348";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path6: "\f349";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path7: "\f34a";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path8: "\f34b";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path9: "\f34c";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path10: "\f34d";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path11: "\f34e";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path12: "\f34f";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path13: "\f350";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path14: "\f351";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path15: "\f352";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path16: "\f353";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path17: "\f354";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path18: "\f355";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path19: "\f356";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path20: "\f357";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path21: "\f358";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path22: "\f359";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path23: "\f35a";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path24: "\f35b";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path25: "\f35c";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path26: "\f35d";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path27: "\f35e";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path28: "\f35f";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path29: "\f360";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path30: "\f361";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path31: "\f362";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path32: "\f363";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path33: "\f364";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path34: "\f365";
$logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path35: "\f366";
$cursor-hand: "\f630";
$hospedaje: "\f63d";
$codepen: "\f657";
$github: "\f65c";
$www: "\f65f";
$twitter-bird: "\f5a4";
$drag-rupaul-path1: "\ea47";
$drag-rupaul-path2: "\ea49";
$drag-rupaul-path3: "\ea4a";
$drag-rupaul-path4: "\ea4c";
$drag-rupaul-path5: "\ea4d";
$viajero: "\ea5d";
$solicitar-transporte: "\f45f";
$sexoral-one: "\f45b";
$bailar: "\ea60";
$avatar-fuera-del-closet: "\ea61";
$hombre: "\ea62";
$corriendo: "\f094";
$flecha-atras: "\f0aa";
$flecha-siguiente: "\f0ab";
$touch_app: "\f56c";
$tarjeta-de-regalo: "\f463";
$home: "\f0b4";
$avatar-hihello: "\ec41";
$pokebola: "\f413";
$logo-hihello-path1: "\ea51";
$logo-hihello-path2: "\ea52";
$logo-hihello-path3: "\ea53";
$xiiber: "\f0b5";
$mascota: "\e900";
$dragon-ball-burger-path1: "\e901";
$dragon-ball-burger-path2: "\e902";
$dragon-ball-burger-path3: "\e903";
$senzubucks-coffee-path1: "\e904";
$senzubucks-coffee-path2: "\e905";
$corazon-doble: "\e906";
$netflix-sexflix: "\e907";
$masturbate-path1: "\e908";
$masturbate-path2: "\e909";
$gato: "\ec5f";
$luna-pokemon: "\ea48";
$sol-pokemon: "\ea4b";
$yas-queen: "\ea5f";
$flecha-atras1: "\f0a8";
$flecha-siguiente1: "\f0a9";
$lavarse-las-manos: "\f0c1";
$enjabonarse-las-manos: "\f09c";
$secarse-las-manos: "\f45a";
$touch_app1: "\f56b";
$copiar: "\f093";
$guardar: "\f0b2";
$menu-puntos: "\f3ac";
$menu: "\f3ab";
$home1: "\f0b3";

