$icomoon-font-family: "how-to" !default;
$icomoon-font-path: "fonts" !default;

$avatar-hihello: "\ec41";
$pokebola: "\f413";
$logo-hihello-path1: "\ea51";
$logo-hihello-path2: "\ea52";
$logo-hihello-path3: "\ea53";
$xiiber: "\f0b5";
$mascota: "\e900";
$dragon-ball-burger-path1: "\e901";
$dragon-ball-burger-path2: "\e902";
$dragon-ball-burger-path3: "\e903";
$senzubucks-coffee-path1: "\e904";
$senzubucks-coffee-path2: "\e905";
$corazon-doble: "\e906";
$netflix-sexflix: "\e907";
$masturbate-path1: "\e908";
$masturbate-path2: "\e909";
$gato: "\ec5f";
$luna-pokemon: "\ea48";
$sol-pokemon: "\ea4b";
$yas-queen: "\ea5f";
$flecha-atras: "\f0a8";
$flecha-siguiente: "\f0a9";
$lavarse-las-manos: "\f0c1";
$enjabonarse-las-manos: "\f09c";
$secarse-las-manos: "\f45a";
$touch_app: "\f56b";
$copiar: "\f093";
$guardar: "\f0b2";
$menu-puntos: "\f3ac";
$menu: "\f3ab";
$home: "\f0b3";

