$icomoon-font-family: "pizzeria" !default;
$icomoon-font-path: "fonts" !default;

$pizzeriaiconografia-pizzeria-path1: "\e900";
$pizzeriaiconografia-pizzeria-path2: "\e901";
$pizzeriaiconografia-pizzeria-path3: "\e902";
$pizzeriaiconografia-pizzeria-path4: "\e903";
$pizzeriaiconografia-pizzeria-path5: "\e904";
$pizzeriaiconografia-pizzeria-path6: "\e905";
$pizzeriaiconografia-pizzeria-path7: "\e906";
$pizzeriaiconografia-pizzeria-path8: "\e907";
$pizzeriaiconografia-pizzeria-path9: "\e908";
$pizzeriaiconografia-pizzeria-path10: "\e909";
$pizzeriaiconografia-pizzeria-path11: "\e90a";
$pizzeriaiconografia-pizzeria-path12: "\e90b";
$pizzeriaiconografia-pizzeria-path13: "\e90c";
$pizzeriaiconografia-pizzeria-path14: "\e90d";
$pizzeriaiconografia-pizzeria-path15: "\e90e";
$pizzeriaiconografia-pizzeria-path16: "\e90f";
$pizzeriaiconografia-pizzeria-path17: "\e910";
$pizzeriaiconografia-pizzeria-path18: "\e911";
$pizzeriaiconografia-pizzeria-path19: "\e912";
$pizzeriaiconografia-pizzeria-path20: "\e913";
$pizzeriaiconografia-pizzeria-path21: "\e914";
$pizzeriaiconografia-pizzeria-path22: "\e915";
$pizzeriaiconografia-pizzeria-path23: "\e916";
$pizzeriaiconografia-pizzeria-path24: "\e917";
$pizzeriaiconografia-pizzeria-path25: "\e918";
$pizzeriaiconografia-pizzeria-path26: "\e919";
$pizzeriaiconografia-pizzeria-path27: "\e91a";
$pizzeriaiconografia-pizzeria-path28: "\e91b";
$pizzeriaiconografia-pizzeria-path29: "\e91c";
$pizzeriaiconografia-pizzeria-path30: "\e91d";
$pizzeriaiconografia-pizzeria-path31: "\e91e";
$pizzeriaiconografia-pizzeria-path32: "\e91f";
$pizzeriaiconografia-pizzeria-path33: "\e920";
$pizzeriaiconografia-pizzeria-path34: "\e921";
$pizzeriaiconografia-pizzeria-path35: "\e922";
$pizzeriaiconografia-pizzeria-path36: "\e923";
$pizzeriaiconografia-pizzeria-path37: "\e924";
$pizzeriaiconografia-pizzeria-path38: "\e925";
$pizzeriaiconografia-pizzeria-path39: "\e926";
$pizzeriaiconografia-pizzeria-path40: "\e927";
$pizzeriaiconografia-pizzeria-path41: "\e928";
$pizzeriaiconografia-pizzeria-path42: "\e929";
$pizzeriaiconografia-pizzeria-path43: "\e92a";
$pizzeriaiconografia-pizzeria-path44: "\e92b";
$pizzeriaiconografia-pizzeria-path45: "\e92c";
$pizzeriaiconografia-pizzeria-path46: "\e92d";
$pizzeriaiconografia-pizzeria-path47: "\e92e";
$pizzeriaiconografia-pizzeria-path48: "\e92f";
$pizzeriaiconografia-pizzeria-path49: "\e930";
$pizzeriaiconografia-pizzeria-path50: "\e931";
$pizzeriaiconografia-pizzeria-path51: "\e932";
$pizzeriaiconografia-pizzeria-path52: "\e933";
$pizzeriaiconografia-pizzeria-path53: "\e934";
$pizzeriaiconografia-pizzeria-path54: "\e935";
$pizzeriaiconografia-pizzeria-path55: "\e936";
$pizzeriaiconografia-pizzeria-path56: "\e937";
$pizzeriaiconografia-pizzeria-path57: "\e938";
$pizzeriaiconografia-pizzeria-path58: "\e939";
$pizzeriaiconografia-pizzeria-path59: "\e93a";
$pizzeriaiconografia-pizzeria-path60: "\e93b";
$pizzeriaiconografia-pizzeria-path61: "\e93c";
$pizzeriaiconografia-pizzeria-path62: "\e93d";
$pizzeriaiconografia-pizzeria-path63: "\e93e";
$pizzeriaiconografia-pizzeria-path64: "\e93f";
$pizzeriaiconografia-pizzeria-path65: "\e940";
$pizzeriaiconografia-pizzeria-path66: "\e941";
$pizzeriaiconografia-pizzeria-caja-de-pizza: "\e942";
$pizzeriaiconografia-pizzeria-de-pizza: "\e943";
$pizzeriaiconografia-pizzeria-masa-de-pizza: "\e944";
$pizzeriaiconografia-pizzeria-me-gusta: "\e945";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path1: "\e946";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path2: "\e947";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path3: "\e948";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path4: "\e949";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path5: "\e94a";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path6: "\e94b";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path7: "\e94c";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path8: "\e94d";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path9: "\e94e";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path10: "\e94f";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path11: "\e950";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path12: "\e951";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path13: "\e952";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path14: "\e953";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path15: "\e954";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path16: "\e955";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path17: "\e956";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path18: "\e957";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path19: "\e958";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path20: "\e959";
$pizzeriaiconografia-pizzeria-pago-con-terminal-path21: "\e95a";
$pizzeriaiconografia-pizzeria-pala: "\e95b";
$pizzeriaiconografia-pizzeria-pedidos-a-domicilio: "\e95c";
$pizzeriaiconografia-pizzeria-pizza-path1: "\e95d";
$pizzeriaiconografia-pizzeria-pizza-path2: "\e95e";
$pizzeriaiconografia-pizzeria-pizza-path3: "\e95f";
$pizzeriaiconografia-pizzeria-pizza-path4: "\e960";
$pizzeriaiconografia-pizzeria-pizza-path5: "\e961";
$pizzeriaiconografia-pizzeria-pizza-path6: "\e962";
$pizzeriaiconografia-pizzeria-pizza-path7: "\e963";
$pizzeriaiconografia-pizzeria-pizza-path8: "\e964";
$pizzeriaiconografia-pizzeria-pizza-path9: "\e965";
$pizzeriaiconografia-pizzeria-pizza-path10: "\e966";
$pizzeriaiconografia-pizzeria-pizza-path11: "\e967";
$pizzeriaiconografia-pizzeria-pizza-al-horno: "\e968";
$pizzeriaiconografia-pizzeria-preparando-pizza-path1: "\e969";
$pizzeriaiconografia-pizzeria-preparando-pizza-path2: "\e96a";
$pizzeriaiconografia-pizzeria-preparando-pizza-path3: "\e96b";
$pizzeriaiconografia-pizzeria-preparando-pizza-path4: "\e96c";
$pizzeriaiconografia-pizzeria-preparando-pizza-path5: "\e96d";
$pizzeriaiconografia-pizzeria-queso: "\e96e";
$pizzeriaiconografia-pizzeria-rebanadora-path1: "\e96f";
$pizzeriaiconografia-pizzeria-rebanadora-path2: "\e970";
$pizzeriaiconografia-pizzeria-rebanadora-path3: "\e971";
$pizzeriaiconografia-pizzeria-rodillo-path1: "\e972";
$pizzeriaiconografia-pizzeria-rodillo-path2: "\e973";
$pizzeriaiconografia-pizzeria-salsa-de-tomate: "\e974";
$pizzeriaiconografia-pizzeria-tomate: "\e975";

