@font-face {
  font-family: 'Siluetas-Glyphs';
  src:  url('fonts/Siluetas-Glyphs.eot?t73s4r');
  src:  url('fonts/Siluetas-Glyphs.eot?t73s4r#iefix') format('embedded-opentype'),
    url('fonts/Siluetas-Glyphs.ttf?t73s4r') format('truetype'),
    url('fonts/Siluetas-Glyphs.woff?t73s4r') format('woff'),
    url('fonts/Siluetas-Glyphs.svg?t73s4r#Siluetas-Glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Siluetas-Glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.siluetas-boss:before {
  content: "\e901";
}
.siluetas-disaster .path1:before {
  content: "\e902";
  color: rgb(41, 41, 41);
}
.siluetas-disaster .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-disaster .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-disaster .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-disaster .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-disaster .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(116, 115, 118);
}
.siluetas-food:before {
  content: "\e908";
}
.siluetas-gay:before {
  content: "\e909";
}
.siluetas-geek:before {
  content: "\e90a";
}
.siluetas-les:before {
  content: "\e90b";
}
.siluetas-lover:before {
  content: "\e90c";
}
.siluetas-relaxing:before {
  content: "\e90d";
}
.siluetas-sad:before {
  content: "\e90e";
}
.siluetas-sex:before {
  content: "\e90f";
}
.siluetas-single:before {
  content: "\e910";
}
.siluetas-sleep:before {
  content: "\e911";
}
.siluetas-smoke .path1:before {
  content: "\e912";
  color: rgb(41, 41, 41);
}
.siluetas-smoke .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-smoke .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-smoke .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.siluetas-smoke .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(82, 82, 84);
}
.siluetas-social:before {
  content: "\e900";
}
