$icomoon-font-family: "Siluetas-Glyphs" !default;
$icomoon-font-path: "fonts" !default;

$siluetas-boss: "\e901";
$siluetas-disaster-path1: "\e902";
$siluetas-disaster-path2: "\e903";
$siluetas-disaster-path3: "\e904";
$siluetas-disaster-path4: "\e905";
$siluetas-disaster-path5: "\e906";
$siluetas-disaster-path6: "\e907";
$siluetas-food: "\e908";
$siluetas-gay: "\e909";
$siluetas-geek: "\e90a";
$siluetas-les: "\e90b";
$siluetas-lover: "\e90c";
$siluetas-relaxing: "\e90d";
$siluetas-sad: "\e90e";
$siluetas-sex: "\e90f";
$siluetas-single: "\e910";
$siluetas-sleep: "\e911";
$siluetas-smoke-path1: "\e912";
$siluetas-smoke-path2: "\e913";
$siluetas-smoke-path3: "\e914";
$siluetas-smoke-path4: "\e915";
$siluetas-smoke-path5: "\e916";
$siluetas-social: "\e900";

