@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ce3cmw');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ce3cmw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ce3cmw') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ce3cmw') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ce3cmw##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doble-monitor {
  &:before {
    content: $icon-doble-monitor; 
  }
}
.icon-candado-de-seguridad-cerrado {
  &:before {
    content: $icon-candado-de-seguridad-cerrado; 
  }
}
.icon-corazon-rayado {
  &:before {
    content: $icon-corazon-rayado;     
    color: #ed3237;
  }
}
.icon-pantalla-de-monitor {
  &:before {
    content: $icon-pantalla-de-monitor; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-github-d {
  &:before {
    content: $icon-github-d; 
  }
}
.icon-github-g {
  &:before {
    content: $icon-github-g; 
  }
}
.icon-github-x {
  &:before {
    content: $icon-github-x; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-hhm {
  &:before {
    content: $icon-hhm; 
  }
}
.icon-ico-codepen {
  &:before {
    content: $icon-ico-codepen; 
  }
}
.icon-ico-codesandbox {
  &:before {
    content: $icon-ico-codesandbox; 
  }
}
.icon-ico-replit {
  &:before {
    content: $icon-ico-replit; 
  }
}
.icon-w3 {
  &:before {
    content: $icon-w3; 
  }
}
.icon-b-google-my-business {
  &:before {
    content: $icon-b-google-my-business;     
    color: #e1e1e1;
  }
}
.icon-b-grindr {
  &:before {
    content: $icon-b-grindr;     
    color: #e1e1e1;
  }
}
.icon-b-hornet {
  &:before {
    content: $icon-b-hornet;     
    color: #e1e1e1;
  }
}
.icon-b-mercado-libre {
  &:before {
    content: $icon-b-mercado-libre;     
    color: #e1e1e1;
  }
}
.icon-b-onlyfans {
  &:before {
    content: $icon-b-onlyfans;     
    color: #e1e1e1;
  }
}
.icon-b-scruff {
  &:before {
    content: $icon-b-scruff;     
    color: #e1e1e1;
  }
}
.icon-google-my-business .path1 {
  &:before {
    content: $icon-google-my-business-path1;  
    color: rgb(126, 172, 247);
  }
}
.icon-google-my-business .path2 {
  &:before {
    content: $icon-google-my-business-path2;  
    margin-left: -1em;  
    color: rgb(126, 172, 247);
  }
}
.icon-google-my-business .path3 {
  &:before {
    content: $icon-google-my-business-path3;  
    margin-left: -1em;  
    color: rgb(73, 89, 183);
  }
}
.icon-google-my-business .path4 {
  &:before {
    content: $icon-google-my-business-path4;  
    margin-left: -1em;  
    color: rgb(73, 89, 183);
  }
}
.icon-google-my-business .path5 {
  &:before {
    content: $icon-google-my-business-path5;  
    margin-left: -1em;  
    color: rgb(72, 129, 236);
  }
}
.icon-grindr {
  &:before {
    content: $icon-grindr;     
    color: #fcb83b;
  }
}
.icon-hornet .path1 {
  &:before {
    content: $icon-hornet-path1;  
    color: rgb(223, 84, 55);
  }
}
.icon-hornet .path2 {
  &:before {
    content: $icon-hornet-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path3 {
  &:before {
    content: $icon-hornet-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path4 {
  &:before {
    content: $icon-hornet-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path5 {
  &:before {
    content: $icon-hornet-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path6 {
  &:before {
    content: $icon-hornet-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path7 {
  &:before {
    content: $icon-hornet-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-hornet .path8 {
  &:before {
    content: $icon-hornet-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 254);
  }
}
.icon-mercado-libre .path1 {
  &:before {
    content: $icon-mercado-libre-path1;  
    color: rgb(242, 206, 0);
  }
}
.icon-mercado-libre .path2 {
  &:before {
    content: $icon-mercado-libre-path2;  
    margin-left: -1em;  
    color: rgb(242, 206, 0);
  }
}
.icon-mercado-libre .path3 {
  &:before {
    content: $icon-mercado-libre-path3;  
    margin-left: -1em;  
    color: rgb(242, 206, 0);
  }
}
.icon-mercado-libre .path4 {
  &:before {
    content: $icon-mercado-libre-path4;  
    margin-left: -1em;  
    color: rgb(242, 206, 0);
  }
}
.icon-mercado-libre .path5 {
  &:before {
    content: $icon-mercado-libre-path5;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-mercado-libre .path6 {
  &:before {
    content: $icon-mercado-libre-path6;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-mercado-libre .path7 {
  &:before {
    content: $icon-mercado-libre-path7;  
    margin-left: -1em;  
    color: rgb(49, 54, 115);
  }
}
.icon-onlyfans .path1 {
  &:before {
    content: $icon-onlyfans-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-onlyfans .path2 {
  &:before {
    content: $icon-onlyfans-path2;  
    margin-left: -1em;  
    color: rgb(0, 174, 239);
  }
}
.icon-scruff .path1 {
  &:before {
    content: $icon-scruff-path1;  
    color: rgb(109, 109, 109);
  }
}
.icon-scruff .path2 {
  &:before {
    content: $icon-scruff-path2;  
    margin-left: -1em;  
    color: rgb(109, 109, 109);
  }
}
.icon-scruff .path3 {
  &:before {
    content: $icon-scruff-path3;  
    margin-left: -1em;  
    color: rgb(146, 146, 146);
  }
}
.icon-scruff .path4 {
  &:before {
    content: $icon-scruff-path4;  
    margin-left: -1em;  
    color: rgb(146, 146, 146);
  }
}
.icon-scruff .path5 {
  &:before {
    content: $icon-scruff-path5;  
    margin-left: -1em;  
    color: rgb(146, 146, 146);
  }
}
.icon-scruff .path6 {
  &:before {
    content: $icon-scruff-path6;  
    margin-left: -1em;  
    color: rgb(146, 146, 146);
  }
}
.icon-scruff .path7 {
  &:before {
    content: $icon-scruff-path7;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-scruff .path8 {
  &:before {
    content: $icon-scruff-path8;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-scruff .path9 {
  &:before {
    content: $icon-scruff-path9;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-scruff .path10 {
  &:before {
    content: $icon-scruff-path10;  
    margin-left: -1em;  
    color: rgb(212, 212, 212);
  }
}
.icon-scruff .path11 {
  &:before {
    content: $icon-scruff-path11;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-scruff .path12 {
  &:before {
    content: $icon-scruff-path12;  
    margin-left: -1em;  
    color: rgb(76, 76, 76);
  }
}
.icon-netflix-gayflix {
  &:before {
    content: $icon-netflix-gayflix;     
    color: #d9202b;
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr;     
    color: #36465d;
  }
}
.icon-youtube .path1 {
  &:before {
    content: $icon-youtube-path1;  
    color: rgb(255, 0, 0);
  }
}
.icon-youtube .path2 {
  &:before {
    content: $icon-youtube-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-tripadvisor {
  &:before {
    content: $icon-tripadvisor;     
    color: #08808a;
  }
}
.icon-google .path1 {
  &:before {
    content: $icon-google-path1;  
    color: rgb(1, 125, 187);
  }
}
.icon-google .path2 {
  &:before {
    content: $icon-google-path2;  
    margin-left: -1em;  
    color: rgb(22, 182, 90);
  }
}
.icon-google .path3 {
  &:before {
    content: $icon-google-path3;  
    margin-left: -1em;  
    color: rgb(43, 128, 247);
  }
}
.icon-google .path4 {
  &:before {
    content: $icon-google-path4;  
    margin-left: -1em;  
    color: rgb(254, 186, 17);
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;     
    color: #00a859;
  }
}
.icon-facebook-azul-letra .path1 {
  &:before {
    content: $icon-facebook-azul-letra-path1;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra .path2 {
  &:before {
    content: $icon-facebook-azul-letra-path2;  
    margin-left: -1em;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra .path3 {
  &:before {
    content: $icon-facebook-azul-letra-path3;  
    margin-left: -1em;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra .path4 {
  &:before {
    content: $icon-facebook-azul-letra-path4;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-gmail {
  &:before {
    content: $icon-gmail;     
    color: #d14836;
  }
}
.icon-tumbrl {
  &:before {
    content: $icon-tumbrl; 
  }
}
.icon-intagram-camera {
  &:before {
    content: $icon-intagram-camera;     
    color: #aa1018;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;     
    color: #bd081c;
  }
}
.icon-send {
  &:before {
    content: $icon-send;     
    color: #e6e7e8;
  }
}
.icon-repliit {
  &:before {
    content: $icon-repliit; 
  }
}
.icon-codesandbox .path1 {
  &:before {
    content: $icon-codesandbox-path1;  
    color: rgb(55, 52, 53);
  }
}
.icon-codesandbox .path2 {
  &:before {
    content: $icon-codesandbox-path2;  
    margin-left: -1em;  
    color: rgb(24, 24, 24);
  }
}
.icon-w3spaces {
  &:before {
    content: $icon-w3spaces;     
    color: #04a96c;
  }
}
.icon-hi5 .path1 {
  &:before {
    content: $icon-hi5-path1;  
    color: rgb(165, 170, 170);
  }
}
.icon-hi5 .path2 {
  &:before {
    content: $icon-hi5-path2;  
    margin-left: -1em;  
    color: rgb(165, 170, 170);
  }
}
.icon-hi5 .path3 {
  &:before {
    content: $icon-hi5-path3;  
    margin-left: -1em;  
    color: rgb(165, 170, 170);
  }
}
.icon-hi5 .path4 {
  &:before {
    content: $icon-hi5-path4;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-hi5 .path5 {
  &:before {
    content: $icon-hi5-path5;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-hi5 .path6 {
  &:before {
    content: $icon-hi5-path6;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-hi5 .path7 {
  &:before {
    content: $icon-hi5-path7;  
    margin-left: -1em;  
    color: rgb(51, 62, 64);
  }
}
.icon-hi5 .path8 {
  &:before {
    content: $icon-hi5-path8;  
    margin-left: -1em;  
    color: rgb(254, 148, 20);
  }
}
.icon-hi5 .path9 {
  &:before {
    content: $icon-hi5-path9;  
    margin-left: -1em;  
    color: rgb(132, 139, 140);
  }
}
.icon-css3 {
  &:before {
    content: $icon-css3;     
    color: #1572b6;
  }
}
.icon-gitpod {
  &:before {
    content: $icon-gitpod;     
    color: #1aa6e4;
  }
}
.icon-html5 {
  &:before {
    content: $icon-html5;     
    color: #e34f26;
  }
}
.icon-medium {
  &:before {
    content: $icon-medium; 
  }
}
.icon-xiib {
  &:before {
    content: $icon-xiib; 
  }
}
.icon-xiiber-circular {
  &:before {
    content: $icon-xiiber-circular; 
  }
}
.icon-emoji-bien {
  &:before {
    content: $icon-emoji-bien; 
  }
}
.icon-emoji-molesto {
  &:before {
    content: $icon-emoji-molesto; 
  }
}
.icon-emoji-positivo {
  &:before {
    content: $icon-emoji-positivo; 
  }
}
.icon-dick-vector .path1 {
  &:before {
    content: $icon-dick-vector-path1;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path2 {
  &:before {
    content: $icon-dick-vector-path2;  
    margin-left: -1em;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path3 {
  &:before {
    content: $icon-dick-vector-path3;  
    margin-left: -1em;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path4 {
  &:before {
    content: $icon-dick-vector-path4;  
    margin-left: -1em;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path5 {
  &:before {
    content: $icon-dick-vector-path5;  
    margin-left: -1em;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path6 {
  &:before {
    content: $icon-dick-vector-path6;  
    margin-left: -1em;  
    color: rgb(149, 151, 153);
  }
}
.icon-dick-vector .path7 {
  &:before {
    content: $icon-dick-vector-path7;  
    margin-left: -1em;  
    color: rgb(4, 4, 4);
  }
}
.icon-h {
  &:before {
    content: $icon-h; 
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path1 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path1;  
    color: rgb(238, 40, 67);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path2 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path2;  
    margin-left: -1em;  
    color: rgb(252, 138, 28);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path3 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path3;  
    margin-left: -1em;  
    color: rgb(252, 138, 28);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path4 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path4;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path5 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path5;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path6 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path6;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path7 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path7;  
    margin-left: -1em;  
    color: rgb(1, 142, 64);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path8 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path8;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path9 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path9;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path10 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path10;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path11 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path11;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path12 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path12;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path13 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path13;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path14 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path14;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path15 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path15;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path16 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path16;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path17 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path17;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path18 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path18;  
    margin-left: -1em;  
    color: rgb(122, 39, 116);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path19 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path19;  
    margin-left: -1em;  
    color: rgb(254, 137, 24);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path20 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path20;  
    margin-left: -1em;  
    color: rgb(254, 137, 24);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path21 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path21;  
    margin-left: -1em;  
    color: rgb(234, 44, 17);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path22 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path22;  
    margin-left: -1em;  
    color: rgb(5, 141, 65);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path23 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path23;  
    margin-left: -1em;  
    color: rgb(1, 86, 153);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path24 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path24;  
    margin-left: -1em;  
    color: rgb(1, 86, 150);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path25 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path25;  
    margin-left: -1em;  
    color: rgb(245, 138, 25);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path26 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path26;  
    margin-left: -1em;  
    color: rgb(5, 85, 153);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path27 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path27;  
    margin-left: -1em;  
    color: rgb(5, 85, 150);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path28 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path28;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path29 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path29;  
    margin-left: -1em;  
    color: rgb(99, 40, 91);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path30 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path30;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path31 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path31;  
    margin-left: -1em;  
    color: rgb(234, 140, 48);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path32 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path32;  
    margin-left: -1em;  
    color: rgb(216, 134, 56);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path33 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path33;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path34 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path34;  
    margin-left: -1em;  
    color: rgb(254, 254, 254);
  }
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path35 {
  &:before {
    content: $icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path35;  
    margin-left: -1em;  
    color: rgb(254, 240, 19);
  }
}
.icon-corazones-love {
  &:before {
    content: $icon-corazones-love; 
  }
}
.icon-pregunta {
  &:before {
    content: $icon-pregunta; 
  }
}
.icon-preguntas {
  &:before {
    content: $icon-preguntas; 
  }
}
.icon-cursor-hand {
  &:before {
    content: $icon-cursor-hand; 
  }
}
.icon-donaciones {
  &:before {
    content: $icon-donaciones; 
  }
}
.icon-hospedaje {
  &:before {
    content: $icon-hospedaje; 
  }
}
.icon-transporte-en-bus-v2 {
  &:before {
    content: $icon-transporte-en-bus-v2; 
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen; 
  }
}
.icon-www {
  &:before {
    content: $icon-www;     
    color: #aa1018;
  }
}
.icon-facebook-azul-letra1 .path1 {
  &:before {
    content: $icon-facebook-azul-letra1-path1;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra1 .path2 {
  &:before {
    content: $icon-facebook-azul-letra1-path2;  
    margin-left: -1em;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra1 .path3 {
  &:before {
    content: $icon-facebook-azul-letra1-path3;  
    margin-left: -1em;  
    color: rgb(132, 134, 136);
  }
}
.icon-facebook-azul-letra1 .path4 {
  &:before {
    content: $icon-facebook-azul-letra1-path4;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-like {
  &:before {
    content: $icon-like;     
    color: #aa1018;
  }
}
.icon-twiiter-bird {
  &:before {
    content: $icon-twiiter-bird;     
    color: #aa1018;
  }
}
.icon-twitter-bird {
  &:before {
    content: $icon-twitter-bird;     
    color: #00afef;
  }
}
.icon-intagram-camera1 {
  &:before {
    content: $icon-intagram-camera1;     
    color: #aa1018;
  }
}
.icon-instagram .path1 {
  &:before {
    content: $icon-instagram-path1;  
    color: rgb(215, 66, 120);
  }
}
.icon-instagram .path2 {
  &:before {
    content: $icon-instagram-path2;  
    margin-left: -1em;  
    color: rgb(153, 68, 132);
  }
}
.icon-instagram .path3 {
  &:before {
    content: $icon-instagram-path3;  
    margin-left: -1em;  
    color: rgb(229, 92, 97);
  }
}
.icon-instagram .path4 {
  &:before {
    content: $icon-instagram-path4;  
    margin-left: -1em;  
    color: rgb(239, 153, 65);
  }
}
.icon-instagram .path5 {
  &:before {
    content: $icon-instagram-path5;  
    margin-left: -1em;  
    color: rgb(185, 67, 126);
  }
}
.icon-instagram .path6 {
  &:before {
    content: $icon-instagram-path6;  
    margin-left: -1em;  
    color: rgb(185, 67, 126);
  }
}
.icon-instagram .path7 {
  &:before {
    content: $icon-instagram-path7;  
    margin-left: -1em;  
    color: rgb(215, 66, 120);
  }
}
.icon-instagram .path8 {
  &:before {
    content: $icon-instagram-path8;  
    margin-left: -1em;  
    color: rgb(215, 66, 120);
  }
}
.icon-instagram .path9 {
  &:before {
    content: $icon-instagram-path9;  
    margin-left: -1em;  
    color: rgb(233, 114, 78);
  }
}
.icon-instagram .path10 {
  &:before {
    content: $icon-instagram-path10;  
    margin-left: -1em;  
    color: rgb(229, 92, 97);
  }
}
.icon-instagram .path11 {
  &:before {
    content: $icon-instagram-path11;  
    margin-left: -1em;  
    color: rgb(229, 92, 97);
  }
}
.icon-instagram .path12 {
  &:before {
    content: $icon-instagram-path12;  
    margin-left: -1em;  
    color: rgb(185, 67, 126);
  }
}
.icon-instagram .path13 {
  &:before {
    content: $icon-instagram-path13;  
    margin-left: -1em;  
    color: rgb(233, 114, 78);
  }
}
.icon-envio-terrestre {
  &:before {
    content: $icon-envio-terrestre; 
  }
}
.icon-enemigos-digitales {
  &:before {
    content: $icon-enemigos-digitales; 
  }
}
.icon-escribio-autor {
  &:before {
    content: $icon-escribio-autor; 
  }
}
.icon-pagoOkey {
  &:before {
    content: $icon-pagoOkey; 
  }
}
.icon-emoji {
  &:before {
    content: $icon-emoji; 
  }
}
.icon-frankestein {
  &:before {
    content: $icon-frankestein; 
  }
}
.icon-mascarilla-covid {
  &:before {
    content: $icon-mascarilla-covid; 
  }
}
.icon-avatar-bear {
  &:before {
    content: $icon-avatar-bear; 
  }
}
.icon-avatar-leather {
  &:before {
    content: $icon-avatar-leather; 
  }
}
.icon-underground {
  &:before {
    content: $icon-underground; 
  }
}
.icon-avatar-hombre-circulo {
  &:before {
    content: $icon-avatar-hombre-circulo; 
  }
}
.icon-usuario-curculo-negro {
  &:before {
    content: $icon-usuario-curculo-negro; 
  }
}
.icon-avatar-hombre {
  &:before {
    content: $icon-avatar-hombre; 
  }
}
.icon-drag-rupaul .path1 {
  &:before {
    content: $icon-drag-rupaul-path1;  
    color: rgb(1, 1, 1);
  }
}
.icon-drag-rupaul .path2 {
  &:before {
    content: $icon-drag-rupaul-path2;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.icon-drag-rupaul .path3 {
  &:before {
    content: $icon-drag-rupaul-path3;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.icon-drag-rupaul .path4 {
  &:before {
    content: $icon-drag-rupaul-path4;  
    margin-left: -1em;  
    color: rgb(1, 1, 1);
  }
}
.icon-drag-rupaul .path5 {
  &:before {
    content: $icon-drag-rupaul-path5;  
    margin-left: -1em;  
    color: rgb(136, 136, 136);
  }
}
.icon-regresar .path1 {
  &:before {
    content: $icon-regresar-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-regresar .path2 {
  &:before {
    content: $icon-regresar-path2;  
    margin-left: -1em;  
    color: rgb(116, 116, 116);
  }
}
.icon-l {
  &:before {
    content: $icon-l; 
  }
}
.icon-luna-one {
  &:before {
    content: $icon-luna-one; 
  }
}
.icon-sol-one {
  &:before {
    content: $icon-sol-one; 
  }
}
.icon-m {
  &:before {
    content: $icon-m; 
  }
}
.icon-pacman {
  &:before {
    content: $icon-pacman; 
  }
}
.icon-corazon {
  &:before {
    content: $icon-corazon; 
  }
}
.icon-logo-dragvesti {
  &:before {
    content: $icon-logo-dragvesti; 
  }
}
.icon-logo-dragvesti-negro {
  &:before {
    content: $icon-logo-dragvesti-negro; 
  }
}
.icon-logo-dragvesti-blanco-letras {
  &:before {
    content: $icon-logo-dragvesti-blanco-letras;     
    color: #fefefe;
  }
}
.icon-logo-hihello .path1 {
  &:before {
    content: $icon-logo-hihello-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-logo-hihello .path2 {
  &:before {
    content: $icon-logo-hihello-path2;  
    margin-left: -5.7314453125em;  
    color: rgb(105, 54, 152);
  }
}
.icon-logo-hihello .path3 {
  &:before {
    content: $icon-logo-hihello-path3;  
    margin-left: -5.7314453125em;  
    color: rgb(80, 201, 135);
  }
}
.icon-hihello-monster-color-hover .path1 {
  &:before {
    content: $icon-hihello-monster-color-hover-path1;  
    color: rgb(138, 56, 122);  
    opacity: 0.2902;
  }
}
.icon-hihello-monster-color-hover .path2 {
  &:before {
    content: $icon-hihello-monster-color-hover-path2;  
    margin-left: -5.728515625em;  
    color: rgb(90, 255, 164);  
    opacity: 0.2902;
  }
}
.icon-xiiber-logo-horizontal-color .path1 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path1;  
    color: rgb(0, 56, 113);
  }
}
.icon-xiiber-logo-horizontal-color .path2 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path2;  
    margin-left: -3.345703125em;  
    color: rgb(0, 56, 113);
  }
}
.icon-xiiber-logo-horizontal-color .path3 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path3;  
    margin-left: -3.345703125em;  
    color: rgb(23, 8, 47);
  }
}
.icon-xiiber-logo-horizontal-color .path4 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path4;  
    margin-left: -3.345703125em;  
    color: rgb(232, 68, 59);
  }
}
.icon-xiiber-logo-horizontal-color .path5 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path5;  
    margin-left: -3.345703125em;  
    color: rgb(0, 77, 253);
  }
}
.icon-xiiber-logo-horizontal-color .path6 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path6;  
    margin-left: -3.345703125em;  
    color: rgb(254, 237, 1);
  }
}
.icon-xiiber-logo-horizontal-color .path7 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path7;  
    margin-left: -3.345703125em;  
    color: rgb(255, 139, 0);
  }
}
.icon-xiiber-logo-horizontal-color .path8 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path8;  
    margin-left: -3.345703125em;  
    color: rgb(118, 7, 137);
  }
}
.icon-xiiber-logo-horizontal-color .path9 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path9;  
    margin-left: -3.345703125em;  
    color: rgb(0, 129, 37);
  }
}
.icon-xiiber-logo-horizontal-color .path10 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path10;  
    margin-left: -3.345703125em;  
    color: rgb(62, 64, 149);
  }
}
.icon-xiiber-logo-horizontal-color .path11 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path11;  
    margin-left: -3.345703125em;  
    color: rgb(63, 46, 100);
  }
}
.icon-xiiber-logo-horizontal-color .path12 {
  &:before {
    content: $icon-xiiber-logo-horizontal-color-path12;  
    margin-left: -3.345703125em;  
    color: rgb(96, 96, 98);
  }
}
.icon-logo-cgt-mx {
  &:before {
    content: $icon-logo-cgt-mx; 
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path1 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path1;  
    color: rgb(63, 46, 100);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path2 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path2;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path3 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path3;  
    margin-left: -1em;  
    color: rgb(23, 8, 47);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path4 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path4;  
    margin-left: -1em;  
    color: rgb(232, 68, 59);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path5 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path5;  
    margin-left: -1em;  
    color: rgb(0, 77, 253);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path6 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path6;  
    margin-left: -1em;  
    color: rgb(254, 237, 1);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path7 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path7;  
    margin-left: -1em;  
    color: rgb(255, 139, 0);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path8 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path8;  
    margin-left: -1em;  
    color: rgb(118, 7, 137);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path9 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path9;  
    margin-left: -1em;  
    color: rgb(0, 129, 37);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path10 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path10;  
    margin-left: -1em;  
    color: rgb(62, 64, 149);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path11 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path11;  
    margin-left: -1em;  
    color: rgb(63, 46, 100);
  }
}
.icon-logo-xiiber-bus-a-tepozspa .path12 {
  &:before {
    content: $icon-logo-xiiber-bus-a-tepozspa-path12;  
    margin-left: -1em;  
    color: rgb(96, 96, 98);
  }
}
.icon-viajero {
  &:before {
    content: $icon-viajero; 
  }
}
.icon-solicitar-transporte {
  &:before {
    content: $icon-solicitar-transporte; 
  }
}
.icon-gato1 {
  &:before {
    content: $icon-gato1; 
  }
}
.icon-mota {
  &:before {
    content: $icon-mota; 
  }
}
.icon-yas-queen {
  &:before {
    content: $icon-yas-queen; 
  }
}
.icon-i-love-fuck .path1 {
  &:before {
    content: $icon-i-love-fuck-path1;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path2 {
  &:before {
    content: $icon-i-love-fuck-path2;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path3 {
  &:before {
    content: $icon-i-love-fuck-path3;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path4 {
  &:before {
    content: $icon-i-love-fuck-path4;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path5 {
  &:before {
    content: $icon-i-love-fuck-path5;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path6 {
  &:before {
    content: $icon-i-love-fuck-path6;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path7 {
  &:before {
    content: $icon-i-love-fuck-path7;  
    margin-left: -1em;  
    color: rgb(241, 12, 19);
  }
}
.icon-i-love-fuck .path8 {
  &:before {
    content: $icon-i-love-fuck-path8;  
    margin-left: -1em;  
    color: rgb(198, 23, 23);
  }
}
.icon-i-love-fuck .path9 {
  &:before {
    content: $icon-i-love-fuck-path9;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path10 {
  &:before {
    content: $icon-i-love-fuck-path10;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-i-love-fuck .path11 {
  &:before {
    content: $icon-i-love-fuck-path11;  
    margin-left: -1em;  
    color: rgb(15, 15, 15);
  }
}
.icon-sexoral-one {
  &:before {
    content: $icon-sexoral-one; 
  }
}
.icon-bailar {
  &:before {
    content: $icon-bailar; 
  }
}
.icon-avatar-fuera-del-closet {
  &:before {
    content: $icon-avatar-fuera-del-closet; 
  }
}
.icon-hombre {
  &:before {
    content: $icon-hombre; 
  }
}
.icon-pareja-gay {
  &:before {
    content: $icon-pareja-gay; 
  }
}
.icon-pareja-gay-love {
  &:before {
    content: $icon-pareja-gay-love; 
  }
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path1 {
  &:before {
    content: $icon-avatar-hombres-gay-icon-sombras-siluetas-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path2 {
  &:before {
    content: $icon-avatar-hombres-gay-icon-sombras-siluetas-path2;  
    margin-left: -1em;  
    color: rgb(10, 5, 25);
  }
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path3 {
  &:before {
    content: $icon-avatar-hombres-gay-icon-sombras-siluetas-path3;  
    margin-left: -1em;  
    color: rgb(10, 5, 25);
  }
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path4 {
  &:before {
    content: $icon-avatar-hombres-gay-icon-sombras-siluetas-path4;  
    margin-left: -1em;  
    color: rgb(10, 5, 25);
  }
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path5 {
  &:before {
    content: $icon-avatar-hombres-gay-icon-sombras-siluetas-path5;  
    margin-left: -1em;  
    color: rgb(10, 5, 25);
  }
}
.icon-leather-item {
  &:before {
    content: $icon-leather-item; 
  }
}
.icon-mascarilla {
  &:before {
    content: $icon-mascarilla; 
  }
}
.icon-corriendo {
  &:before {
    content: $icon-corriendo; 
  }
}
.icon-sigue-la-flecha {
  &:before {
    content: $icon-sigue-la-flecha; 
  }
}
.icon-remando {
  &:before {
    content: $icon-remando; 
  }
}
.icon-en-bicicleta {
  &:before {
    content: $icon-en-bicicleta; 
  }
}
.icon-renta-de-carros {
  &:before {
    content: $icon-renta-de-carros; 
  }
}
.icon-bus-de-lado {
  &:before {
    content: $icon-bus-de-lado; 
  }
}
.icon-condon {
  &:before {
    content: $icon-condon; 
  }
}
.icon-verga-one {
  &:before {
    content: $icon-verga-one; 
  }
}
.icon-condon-one {
  &:before {
    content: $icon-condon-one; 
  }
}
.icon-poppers {
  &:before {
    content: $icon-poppers; 
  }
}
.icon-mundo-one {
  &:before {
    content: $icon-mundo-one; 
  }
}
.icon-pastel {
  &:before {
    content: $icon-pastel; 
  }
}
.icon-pastel-maanitas {
  &:before {
    content: $icon-pastel-maanitas; 
  }
}
.icon-rifa {
  &:before {
    content: $icon-rifa; 
  }
}
.icon-rifa-one {
  &:before {
    content: $icon-rifa-one; 
  }
}
.icon-shot {
  &:before {
    content: $icon-shot; 
  }
}
.icon-shot-one {
  &:before {
    content: $icon-shot-one; 
  }
}
.icon-tv {
  &:before {
    content: $icon-tv; 
  }
}
.icon-todo-incluido {
  &:before {
    content: $icon-todo-incluido; 
  }
}
.icon-agregar-negocio {
  &:before {
    content: $icon-agregar-negocio; 
  }
}
.icon-flecha-atras {
  &:before {
    content: $icon-flecha-atras; 
  }
}
.icon-flecha-siguiente {
  &:before {
    content: $icon-flecha-siguiente; 
  }
}
.icon-etiquetas-codigo {
  &:before {
    content: $icon-etiquetas-codigo; 
  }
}
.icon-arrow-circle-abajo {
  &:before {
    content: $icon-arrow-circle-abajo; 
  }
}
.icon-arrow-circle-arriba {
  &:before {
    content: $icon-arrow-circle-arriba; 
  }
}
.icon-bus {
  &:before {
    content: $icon-bus; 
  }
}
.icon-alerta-del-bus {
  &:before {
    content: $icon-alerta-del-bus; 
  }
}
.icon-bus-horario {
  &:before {
    content: $icon-bus-horario; 
  }
}
.icon-pastel-entero {
  &:before {
    content: $icon-pastel-entero; 
  }
}
.icon-pets {
  &:before {
    content: $icon-pets; 
  }
}
.icon-comida-rapida {
  &:before {
    content: $icon-comida-rapida; 
  }
}
.icon-restaurante {
  &:before {
    content: $icon-restaurante; 
  }
}
.icon-margarita {
  &:before {
    content: $icon-margarita; 
  }
}
.icon-playa {
  &:before {
    content: $icon-playa; 
  }
}
.icon-sombrilla-de-playa {
  &:before {
    content: $icon-sombrilla-de-playa; 
  }
}
.icon-ferry {
  &:before {
    content: $icon-ferry; 
  }
}
.icon-motorcycle {
  &:before {
    content: $icon-motorcycle; 
  }
}
.icon-pokebola {
  &:before {
    content: $icon-pokebola; 
  }
}
.icon-pokemon-mimikyu {
  &:before {
    content: $icon-pokemon-mimikyu; 
  }
}
.icon-pokemon-eevee {
  &:before {
    content: $icon-pokemon-eevee; 
  }
}
.icon-location_pin {
  &:before {
    content: $icon-location_pin; 
  }
}
.icon-check-list {
  &:before {
    content: $icon-check-list; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-star_outline {
  &:before {
    content: $icon-star_outline; 
  }
}
.icon-emoji-a-medias {
  &:before {
    content: $icon-emoji-a-medias; 
  }
}
.icon-emoji-feliz {
  &:before {
    content: $icon-emoji-feliz; 
  }
}
.icon-emoji-triste {
  &:before {
    content: $icon-emoji-triste; 
  }
}
.icon-lavarse-las-manos {
  &:before {
    content: $icon-lavarse-las-manos; 
  }
}
.icon-enjabonarse-las-manos {
  &:before {
    content: $icon-enjabonarse-las-manos; 
  }
}
.icon-secarse-las-manos {
  &:before {
    content: $icon-secarse-las-manos; 
  }
}
.icon-touch_app {
  &:before {
    content: $icon-touch_app; 
  }
}
.icon-configuraciones {
  &:before {
    content: $icon-configuraciones; 
  }
}
.icon-mapa-de-sitio {
  &:before {
    content: $icon-mapa-de-sitio; 
  }
}
.icon-alertas {
  &:before {
    content: $icon-alertas; 
  }
}
.icon-celular-en-mano-tomar-foto {
  &:before {
    content: $icon-celular-en-mano-tomar-foto;     
    color: #3e4095;
  }
}
.icon-copiar {
  &:before {
    content: $icon-copiar; 
  }
}
.icon-guardar {
  &:before {
    content: $icon-guardar; 
  }
}
.icon-faq {
  &:before {
    content: $icon-faq; 
  }
}
.icon-elipsix {
  &:before {
    content: $icon-elipsix; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-error_outline {
  &:before {
    content: $icon-error_outline; 
  }
}
.icon-ayuda {
  &:before {
    content: $icon-ayuda; 
  }
}
.icon-menu-puntos {
  &:before {
    content: $icon-menu-puntos; 
  }
}
.icon-elipsis {
  &:before {
    content: $icon-elipsis; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-carrito-de-compras {
  &:before {
    content: $icon-carrito-de-compras; 
  }
}
.icon-tarjeta-de-regalo {
  &:before {
    content: $icon-tarjeta-de-regalo; 
  }
}
.icon-verificado {
  &:before {
    content: $icon-verificado; 
  }
}
.icon-reserva-en-lina {
  &:before {
    content: $icon-reserva-en-lina; 
  }
}
.icon-cancelacion-libre {
  &:before {
    content: $icon-cancelacion-libre; 
  }
}
.icon-calendario {
  &:before {
    content: $icon-calendario; 
  }
}
.icon-calendario-editar {
  &:before {
    content: $icon-calendario-editar; 
  }
}
.icon-viajes-one {
  &:before {
    content: $icon-viajes-one; 
  }
}
.icon-viajes {
  &:before {
    content: $icon-viajes; 
  }
}
.icon-wifi {
  &:before {
    content: $icon-wifi; 
  }
}
.icon-todas-las-tarjetas {
  &:before {
    content: $icon-todas-las-tarjetas; 
  }
}
.icon-entradas {
  &:before {
    content: $icon-entradas; 
  }
}
.icon-boleto-avion {
  &:before {
    content: $icon-boleto-avion; 
  }
}
.icon-gratis {
  &:before {
    content: $icon-gratis; 
  }
}
.icon-experiencias {
  &:before {
    content: $icon-experiencias; 
  }
}
.icon-notificaciones {
  &:before {
    content: $icon-notificaciones; 
  }
}
.icon-home-big {
  &:before {
    content: $icon-home-big; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}

