@font-face {
  font-family: 'wowawesome';
  src:  url('fonts/wowawesome.eot?ce3cmw');
  src:  url('fonts/wowawesome.eot?ce3cmw#iefix') format('embedded-opentype'),
    url('fonts/wowawesome.ttf?ce3cmw') format('truetype'),
    url('fonts/wowawesome.woff?ce3cmw') format('woff'),
    url('fonts/wowawesome.svg?ce3cmw#wowawesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wowawesome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doble-monitor:before {
  content: "\e936";
}
.icon-candado-de-seguridad-cerrado:before {
  content: "\e947";
}
.icon-corazon-rayado:before {
  content: "\e948";
  color: #ed3237;
}
.icon-pantalla-de-monitor:before {
  content: "\e949";
}
.icon-refresh:before {
  content: "\e94a";
}
.icon-github-d:before {
  content: "\e902";
}
.icon-github-g:before {
  content: "\e903";
}
.icon-github-x:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e900";
}
.icon-hhm:before {
  content: "\e901";
}
.icon-ico-codepen:before {
  content: "\e92a";
}
.icon-ico-codesandbox:before {
  content: "\e92f";
}
.icon-ico-replit:before {
  content: "\e930";
}
.icon-w3:before {
  content: "\e931";
}
.icon-b-google-my-business:before {
  content: "\e90b";
  color: #e1e1e1;
}
.icon-b-grindr:before {
  content: "\e90a";
  color: #e1e1e1;
}
.icon-b-hornet:before {
  content: "\e909";
  color: #e1e1e1;
}
.icon-b-mercado-libre:before {
  content: "\e908";
  color: #e1e1e1;
}
.icon-b-onlyfans:before {
  content: "\e907";
  color: #e1e1e1;
}
.icon-b-scruff:before {
  content: "\e905";
  color: #e1e1e1;
}
.icon-google-my-business .path1:before {
  content: "\e90c";
  color: rgb(126, 172, 247);
}
.icon-google-my-business .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(126, 172, 247);
}
.icon-google-my-business .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(73, 89, 183);
}
.icon-google-my-business .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(73, 89, 183);
}
.icon-google-my-business .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(72, 129, 236);
}
.icon-grindr:before {
  content: "\e90d";
  color: #fcb83b;
}
.icon-hornet .path1:before {
  content: "\e90e";
  color: rgb(223, 84, 55);
}
.icon-hornet .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path7:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-hornet .path8:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 254);
}
.icon-mercado-libre .path1:before {
  content: "\e914";
  color: rgb(242, 206, 0);
}
.icon-mercado-libre .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(242, 206, 0);
}
.icon-mercado-libre .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(242, 206, 0);
}
.icon-mercado-libre .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(242, 206, 0);
}
.icon-mercado-libre .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-mercado-libre .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-mercado-libre .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(49, 54, 115);
}
.icon-onlyfans .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon-onlyfans .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 174, 239);
}
.icon-scruff .path1:before {
  content: "\e91d";
  color: rgb(109, 109, 109);
}
.icon-scruff .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(109, 109, 109);
}
.icon-scruff .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(146, 146, 146);
}
.icon-scruff .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(146, 146, 146);
}
.icon-scruff .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(146, 146, 146);
}
.icon-scruff .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(146, 146, 146);
}
.icon-scruff .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-scruff .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-scruff .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-scruff .path10:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(212, 212, 212);
}
.icon-scruff .path11:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scruff .path12:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(76, 76, 76);
}
.icon-netflix-gayflix:before {
  content: "\e929";
  color: #d9202b;
}
.icon-tumblr:before {
  content: "\e92b";
  color: #36465d;
}
.icon-youtube .path1:before {
  content: "\ea5c";
  color: rgb(255, 0, 0);
}
.icon-youtube .path2:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tripadvisor:before {
  content: "\f65e";
  color: #08808a;
}
.icon-google .path1:before {
  content: "\ea5b";
  color: rgb(1, 125, 187);
}
.icon-google .path2:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(22, 182, 90);
}
.icon-google .path3:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(43, 128, 247);
}
.icon-google .path4:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(254, 186, 17);
}
.icon-whatsapp:before {
  content: "\ea5a";
  color: #00a859;
}
.icon-facebook-azul-letra .path1:before {
  content: "\f0a1";
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra .path2:before {
  content: "\f0a2";
  margin-left: -1em;
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra .path3:before {
  content: "\f0a3";
  margin-left: -1em;
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra .path4:before {
  content: "\f0a4";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-gmail:before {
  content: "\e92c";
  color: #d14836;
}
.icon-tumbrl:before {
  content: "\f661";
}
.icon-intagram-camera:before {
  content: "\f66c";
  color: #aa1018;
}
.icon-pinterest:before {
  content: "\e92d";
  color: #bd081c;
}
.icon-send:before {
  content: "\e92e";
  color: #e6e7e8;
}
.icon-repliit:before {
  content: "\f65a";
}
.icon-codesandbox .path1:before {
  content: "\f65b";
  color: rgb(55, 52, 53);
}
.icon-codesandbox .path2:before {
  content: "\f673";
  margin-left: -1em;
  color: rgb(24, 24, 24);
}
.icon-w3spaces:before {
  content: "\f663";
  color: #04a96c;
}
.icon-hi5 .path1:before {
  content: "\f662";
  color: rgb(165, 170, 170);
}
.icon-hi5 .path2:before {
  content: "\f665";
  margin-left: -1em;
  color: rgb(165, 170, 170);
}
.icon-hi5 .path3:before {
  content: "\f666";
  margin-left: -1em;
  color: rgb(165, 170, 170);
}
.icon-hi5 .path4:before {
  content: "\f667";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-hi5 .path5:before {
  content: "\f668";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-hi5 .path6:before {
  content: "\f669";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-hi5 .path7:before {
  content: "\f66a";
  margin-left: -1em;
  color: rgb(51, 62, 64);
}
.icon-hi5 .path8:before {
  content: "\f66b";
  margin-left: -1em;
  color: rgb(254, 148, 20);
}
.icon-hi5 .path9:before {
  content: "\f66d";
  margin-left: -1em;
  color: rgb(132, 139, 140);
}
.icon-css3:before {
  content: "\e934";
  color: #1572b6;
}
.icon-gitpod:before {
  content: "\e932";
  color: #1aa6e4;
}
.icon-html5:before {
  content: "\e933";
  color: #e34f26;
}
.icon-medium:before {
  content: "\e935";
}
.icon-xiib:before {
  content: "\f0b5";
}
.icon-xiiber-circular:before {
  content: "\f5c3";
}
.icon-emoji-bien:before {
  content: "\e93d";
}
.icon-emoji-molesto:before {
  content: "\e93e";
}
.icon-emoji-positivo:before {
  content: "\e93f";
}
.icon-dick-vector .path1:before {
  content: "\e940";
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(149, 151, 153);
}
.icon-dick-vector .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(4, 4, 4);
}
.icon-h:before {
  content: "\e906";
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path1:before {
  content: "\f344";
  color: rgb(238, 40, 67);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path2:before {
  content: "\f345";
  margin-left: -1em;
  color: rgb(252, 138, 28);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path3:before {
  content: "\f346";
  margin-left: -1em;
  color: rgb(252, 138, 28);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path4:before {
  content: "\f347";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path5:before {
  content: "\f348";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path6:before {
  content: "\f349";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path7:before {
  content: "\f34a";
  margin-left: -1em;
  color: rgb(1, 142, 64);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path8:before {
  content: "\f34b";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path9:before {
  content: "\f34c";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path10:before {
  content: "\f34d";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path11:before {
  content: "\f34e";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path12:before {
  content: "\f34f";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path13:before {
  content: "\f350";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path14:before {
  content: "\f351";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path15:before {
  content: "\f352";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path16:before {
  content: "\f353";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path17:before {
  content: "\f354";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path18:before {
  content: "\f355";
  margin-left: -1em;
  color: rgb(122, 39, 116);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path19:before {
  content: "\f356";
  margin-left: -1em;
  color: rgb(254, 137, 24);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path20:before {
  content: "\f357";
  margin-left: -1em;
  color: rgb(254, 137, 24);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path21:before {
  content: "\f358";
  margin-left: -1em;
  color: rgb(234, 44, 17);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path22:before {
  content: "\f359";
  margin-left: -1em;
  color: rgb(5, 141, 65);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path23:before {
  content: "\f35a";
  margin-left: -1em;
  color: rgb(1, 86, 153);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path24:before {
  content: "\f35b";
  margin-left: -1em;
  color: rgb(1, 86, 150);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path25:before {
  content: "\f35c";
  margin-left: -1em;
  color: rgb(245, 138, 25);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path26:before {
  content: "\f35d";
  margin-left: -1em;
  color: rgb(5, 85, 153);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path27:before {
  content: "\f35e";
  margin-left: -1em;
  color: rgb(5, 85, 150);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path28:before {
  content: "\f35f";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path29:before {
  content: "\f360";
  margin-left: -1em;
  color: rgb(99, 40, 91);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path30:before {
  content: "\f361";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path31:before {
  content: "\f362";
  margin-left: -1em;
  color: rgb(234, 140, 48);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path32:before {
  content: "\f363";
  margin-left: -1em;
  color: rgb(216, 134, 56);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path33:before {
  content: "\f364";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path34:before {
  content: "\f365";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color .path35:before {
  content: "\f366";
  margin-left: -1em;
  color: rgb(254, 240, 19);
}
.icon-corazones-love:before {
  content: "\f509";
}
.icon-pregunta:before {
  content: "\f50a";
}
.icon-preguntas:before {
  content: "\f50b";
}
.icon-cursor-hand:before {
  content: "\f630";
}
.icon-donaciones:before {
  content: "\f633";
}
.icon-hospedaje:before {
  content: "\f63d";
}
.icon-transporte-en-bus-v2:before {
  content: "\f63e";
}
.icon-codepen:before {
  content: "\f657";
}
.icon-www:before {
  content: "\f65f";
  color: #aa1018;
}
.icon-facebook-azul-letra1 .path1:before {
  content: "\f0a5";
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra1 .path2:before {
  content: "\f0a6";
  margin-left: -1em;
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra1 .path3:before {
  content: "\f0aa";
  margin-left: -1em;
  color: rgb(132, 134, 136);
}
.icon-facebook-azul-letra1 .path4:before {
  content: "\f0ab";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-like:before {
  content: "\f676";
  color: #aa1018;
}
.icon-twiiter-bird:before {
  content: "\f675";
  color: #aa1018;
}
.icon-twitter-bird:before {
  content: "\f5a4";
  color: #00afef;
}
.icon-intagram-camera1:before {
  content: "\f66e";
  color: #aa1018;
}
.icon-instagram .path1:before {
  content: "\ee02";
  color: rgb(215, 66, 120);
}
.icon-instagram .path2:before {
  content: "\ee03";
  margin-left: -1em;
  color: rgb(153, 68, 132);
}
.icon-instagram .path3:before {
  content: "\ee04";
  margin-left: -1em;
  color: rgb(229, 92, 97);
}
.icon-instagram .path4:before {
  content: "\ee05";
  margin-left: -1em;
  color: rgb(239, 153, 65);
}
.icon-instagram .path5:before {
  content: "\ee06";
  margin-left: -1em;
  color: rgb(185, 67, 126);
}
.icon-instagram .path6:before {
  content: "\ee07";
  margin-left: -1em;
  color: rgb(185, 67, 126);
}
.icon-instagram .path7:before {
  content: "\ee08";
  margin-left: -1em;
  color: rgb(215, 66, 120);
}
.icon-instagram .path8:before {
  content: "\ee09";
  margin-left: -1em;
  color: rgb(215, 66, 120);
}
.icon-instagram .path9:before {
  content: "\ee0a";
  margin-left: -1em;
  color: rgb(233, 114, 78);
}
.icon-instagram .path10:before {
  content: "\ee0b";
  margin-left: -1em;
  color: rgb(229, 92, 97);
}
.icon-instagram .path11:before {
  content: "\ee0c";
  margin-left: -1em;
  color: rgb(229, 92, 97);
}
.icon-instagram .path12:before {
  content: "\ee0d";
  margin-left: -1em;
  color: rgb(185, 67, 126);
}
.icon-instagram .path13:before {
  content: "\ee0e";
  margin-left: -1em;
  color: rgb(233, 114, 78);
}
.icon-envio-terrestre:before {
  content: "\ea3b";
}
.icon-enemigos-digitales:before {
  content: "\ea3c";
}
.icon-escribio-autor:before {
  content: "\ea3d";
}
.icon-pagoOkey:before {
  content: "\ea3e";
}
.icon-emoji:before {
  content: "\ea3f";
}
.icon-frankestein:before {
  content: "\ea40";
}
.icon-mascarilla-covid:before {
  content: "\ea41";
}
.icon-avatar-bear:before {
  content: "\ea42";
}
.icon-avatar-leather:before {
  content: "\ea43";
}
.icon-underground:before {
  content: "\ea44";
}
.icon-avatar-hombre-circulo:before {
  content: "\ea45";
}
.icon-usuario-curculo-negro:before {
  content: "\f5a8";
}
.icon-avatar-hombre:before {
  content: "\ea46";
}
.icon-drag-rupaul .path1:before {
  content: "\ea47";
  color: rgb(1, 1, 1);
}
.icon-drag-rupaul .path2:before {
  content: "\ed10";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-drag-rupaul .path3:before {
  content: "\ed11";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-drag-rupaul .path4:before {
  content: "\ed12";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-drag-rupaul .path5:before {
  content: "\ed13";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.icon-regresar .path1:before {
  content: "\ed14";
  color: rgb(0, 0, 0);
}
.icon-regresar .path2:before {
  content: "\eddd";
  margin-left: -1em;
  color: rgb(116, 116, 116);
}
.icon-l:before {
  content: "\ea48";
}
.icon-luna-one:before {
  content: "\ea49";
}
.icon-sol-one:before {
  content: "\ea4a";
}
.icon-m:before {
  content: "\ea4b";
}
.icon-pacman:before {
  content: "\ea4c";
}
.icon-corazon:before {
  content: "\ea4d";
}
.icon-logo-dragvesti:before {
  content: "\f257";
}
.icon-logo-dragvesti-negro:before {
  content: "\ea4f";
}
.icon-logo-dragvesti-blanco-letras:before {
  content: "\ea50";
  color: #fefefe;
}
.icon-logo-hihello .path1:before {
  content: "\ea51";
  color: rgb(0, 0, 0);
}
.icon-logo-hihello .path2:before {
  content: "\edde";
  margin-left: -5.7314453125em;
  color: rgb(105, 54, 152);
}
.icon-logo-hihello .path3:before {
  content: "\eddf";
  margin-left: -5.7314453125em;
  color: rgb(80, 201, 135);
}
.icon-hihello-monster-color-hover .path1:before {
  content: "\ea53";
  color: rgb(138, 56, 122);
  opacity: 0.2902;
}
.icon-hihello-monster-color-hover .path2:before {
  content: "\ede0";
  margin-left: -5.728515625em;
  color: rgb(90, 255, 164);
  opacity: 0.2902;
}
.icon-xiiber-logo-horizontal-color .path1:before {
  content: "\ea57";
  color: rgb(0, 56, 113);
}
.icon-xiiber-logo-horizontal-color .path2:before {
  content: "\ede1";
  margin-left: -3.345703125em;
  color: rgb(0, 56, 113);
}
.icon-xiiber-logo-horizontal-color .path3:before {
  content: "\ede2";
  margin-left: -3.345703125em;
  color: rgb(23, 8, 47);
}
.icon-xiiber-logo-horizontal-color .path4:before {
  content: "\ede3";
  margin-left: -3.345703125em;
  color: rgb(232, 68, 59);
}
.icon-xiiber-logo-horizontal-color .path5:before {
  content: "\ede4";
  margin-left: -3.345703125em;
  color: rgb(0, 77, 253);
}
.icon-xiiber-logo-horizontal-color .path6:before {
  content: "\ede5";
  margin-left: -3.345703125em;
  color: rgb(254, 237, 1);
}
.icon-xiiber-logo-horizontal-color .path7:before {
  content: "\ede6";
  margin-left: -3.345703125em;
  color: rgb(255, 139, 0);
}
.icon-xiiber-logo-horizontal-color .path8:before {
  content: "\ede7";
  margin-left: -3.345703125em;
  color: rgb(118, 7, 137);
}
.icon-xiiber-logo-horizontal-color .path9:before {
  content: "\ede8";
  margin-left: -3.345703125em;
  color: rgb(0, 129, 37);
}
.icon-xiiber-logo-horizontal-color .path10:before {
  content: "\edf4";
  margin-left: -3.345703125em;
  color: rgb(62, 64, 149);
}
.icon-xiiber-logo-horizontal-color .path11:before {
  content: "\edf5";
  margin-left: -3.345703125em;
  color: rgb(63, 46, 100);
}
.icon-xiiber-logo-horizontal-color .path12:before {
  content: "\edf6";
  margin-left: -3.345703125em;
  color: rgb(96, 96, 98);
}
.icon-logo-cgt-mx:before {
  content: "\ec40";
}
.icon-logo-xiiber-bus-a-tepozspa .path1:before {
  content: "\ea59";
  color: rgb(63, 46, 100);
}
.icon-logo-xiiber-bus-a-tepozspa .path2:before {
  content: "\edf7";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-xiiber-bus-a-tepozspa .path3:before {
  content: "\edf8";
  margin-left: -1em;
  color: rgb(23, 8, 47);
}
.icon-logo-xiiber-bus-a-tepozspa .path4:before {
  content: "\edf9";
  margin-left: -1em;
  color: rgb(232, 68, 59);
}
.icon-logo-xiiber-bus-a-tepozspa .path5:before {
  content: "\edfa";
  margin-left: -1em;
  color: rgb(0, 77, 253);
}
.icon-logo-xiiber-bus-a-tepozspa .path6:before {
  content: "\edfb";
  margin-left: -1em;
  color: rgb(254, 237, 1);
}
.icon-logo-xiiber-bus-a-tepozspa .path7:before {
  content: "\edfc";
  margin-left: -1em;
  color: rgb(255, 139, 0);
}
.icon-logo-xiiber-bus-a-tepozspa .path8:before {
  content: "\edfd";
  margin-left: -1em;
  color: rgb(118, 7, 137);
}
.icon-logo-xiiber-bus-a-tepozspa .path9:before {
  content: "\edfe";
  margin-left: -1em;
  color: rgb(0, 129, 37);
}
.icon-logo-xiiber-bus-a-tepozspa .path10:before {
  content: "\edff";
  margin-left: -1em;
  color: rgb(62, 64, 149);
}
.icon-logo-xiiber-bus-a-tepozspa .path11:before {
  content: "\ee00";
  margin-left: -1em;
  color: rgb(63, 46, 100);
}
.icon-logo-xiiber-bus-a-tepozspa .path12:before {
  content: "\ee01";
  margin-left: -1em;
  color: rgb(96, 96, 98);
}
.icon-viajero:before {
  content: "\ea68";
}
.icon-solicitar-transporte:before {
  content: "\f45f";
}
.icon-gato1:before {
  content: "\ea61";
}
.icon-mota:before {
  content: "\f3cf";
}
.icon-yas-queen:before {
  content: "\ea62";
}
.icon-i-love-fuck .path1:before {
  content: "\f0b6";
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path2:before {
  content: "\f0b7";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path3:before {
  content: "\f0b8";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path4:before {
  content: "\f0b9";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path5:before {
  content: "\f0ba";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path6:before {
  content: "\f0bb";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path7:before {
  content: "\f0bc";
  margin-left: -1em;
  color: rgb(241, 12, 19);
}
.icon-i-love-fuck .path8:before {
  content: "\f0bd";
  margin-left: -1em;
  color: rgb(198, 23, 23);
}
.icon-i-love-fuck .path9:before {
  content: "\f0be";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path10:before {
  content: "\f0bf";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-i-love-fuck .path11:before {
  content: "\f0c0";
  margin-left: -1em;
  color: rgb(15, 15, 15);
}
.icon-sexoral-one:before {
  content: "\f45b";
}
.icon-bailar:before {
  content: "\ea63";
}
.icon-avatar-fuera-del-closet:before {
  content: "\ea64";
}
.icon-hombre:before {
  content: "\ea66";
}
.icon-pareja-gay:before {
  content: "\f40c";
}
.icon-pareja-gay-love:before {
  content: "\f40d";
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path1:before {
  content: "\ea67";
  color: rgb(0, 0, 0);
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path2:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(10, 5, 25);
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path3:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(10, 5, 25);
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path4:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(10, 5, 25);
}
.icon-avatar-hombres-gay-icon-sombras-siluetas .path5:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(10, 5, 25);
}
.icon-leather-item:before {
  content: "\f0c2";
}
.icon-mascarilla:before {
  content: "\f3a6";
}
.icon-corriendo:before {
  content: "\f094";
}
.icon-sigue-la-flecha:before {
  content: "\f45e";
}
.icon-remando:before {
  content: "\f453";
}
.icon-en-bicicleta:before {
  content: "\f09b";
}
.icon-renta-de-carros:before {
  content: "\f454";
}
.icon-bus-de-lado:before {
  content: "\ea65";
}
.icon-condon:before {
  content: "\f090";
}
.icon-verga-one:before {
  content: "\f5a6";
}
.icon-condon-one:before {
  content: "\f091";
}
.icon-poppers:before {
  content: "\f416";
}
.icon-mundo-one:before {
  content: "\f3d1";
}
.icon-pastel:before {
  content: "\f40e";
}
.icon-pastel-maanitas:before {
  content: "\f410";
}
.icon-rifa:before {
  content: "\f457";
}
.icon-rifa-one:before {
  content: "\f458";
}
.icon-shot:before {
  content: "\f45c";
}
.icon-shot-one:before {
  content: "\f45d";
}
.icon-tv:before {
  content: "\f56c";
}
.icon-todo-incluido:before {
  content: "\f56a";
}
.icon-agregar-negocio:before {
  content: "\ea69";
}
.icon-flecha-atras:before {
  content: "\f0a8";
}
.icon-flecha-siguiente:before {
  content: "\f0a9";
}
.icon-etiquetas-codigo:before {
  content: "\f09f";
}
.icon-arrow-circle-abajo:before {
  content: "\ea6a";
}
.icon-arrow-circle-arriba:before {
  content: "\ea6b";
}
.icon-bus:before {
  content: "\ea6c";
}
.icon-alerta-del-bus:before {
  content: "\ea6d";
}
.icon-bus-horario:before {
  content: "\ea6e";
}
.icon-pastel-entero:before {
  content: "\f40f";
}
.icon-pets:before {
  content: "\f411";
}
.icon-comida-rapida:before {
  content: "\f08f";
}
.icon-restaurante:before {
  content: "\f456";
}
.icon-margarita:before {
  content: "\f3a5";
}
.icon-playa:before {
  content: "\f412";
}
.icon-sombrilla-de-playa:before {
  content: "\f460";
}
.icon-ferry:before {
  content: "\f0a7";
}
.icon-motorcycle:before {
  content: "\f3d0";
}
.icon-pokebola:before {
  content: "\f413";
}
.icon-pokemon-mimikyu:before {
  content: "\f415";
}
.icon-pokemon-eevee:before {
  content: "\f414";
}
.icon-location_pin:before {
  content: "\f0c3";
}
.icon-check-list:before {
  content: "\effc";
}
.icon-star:before {
  content: "\f461";
}
.icon-star_outline:before {
  content: "\f462";
}
.icon-emoji-a-medias:before {
  content: "\f098";
}
.icon-emoji-feliz:before {
  content: "\f099";
}
.icon-emoji-triste:before {
  content: "\f09a";
}
.icon-lavarse-las-manos:before {
  content: "\f0c1";
}
.icon-enjabonarse-las-manos:before {
  content: "\f09c";
}
.icon-secarse-las-manos:before {
  content: "\f45a";
}
.icon-touch_app:before {
  content: "\f56b";
}
.icon-configuraciones:before {
  content: "\f092";
}
.icon-mapa-de-sitio:before {
  content: "\f3a4";
}
.icon-alertas:before {
  content: "\ea70";
}
.icon-celular-en-mano-tomar-foto:before {
  content: "\eb88";
  color: #3e4095;
}
.icon-copiar:before {
  content: "\f093";
}
.icon-guardar:before {
  content: "\f0b2";
}
.icon-faq:before {
  content: "\ea71";
}
.icon-elipsix:before {
  content: "\f097";
}
.icon-error:before {
  content: "\f09d";
}
.icon-error_outline:before {
  content: "\f09e";
}
.icon-ayuda:before {
  content: "\ea72";
}
.icon-menu-puntos:before {
  content: "\f3ac";
}
.icon-elipsis:before {
  content: "\f096";
}
.icon-menu:before {
  content: "\f3ab";
}
.icon-carrito-de-compras:before {
  content: "\ea73";
}
.icon-tarjeta-de-regalo:before {
  content: "\f463";
}
.icon-verificado:before {
  content: "\f5a7";
}
.icon-reserva-en-lina:before {
  content: "\f455";
}
.icon-cancelacion-libre:before {
  content: "\ea74";
}
.icon-calendario:before {
  content: "\ea75";
}
.icon-calendario-editar:before {
  content: "\ea76";
}
.icon-viajes-one:before {
  content: "\f5bf";
}
.icon-viajes:before {
  content: "\f5be";
}
.icon-wifi:before {
  content: "\f5c1";
}
.icon-todas-las-tarjetas:before {
  content: "\ea77";
}
.icon-entradas:before {
  content: "\ea78";
}
.icon-boleto-avion:before {
  content: "\ea79";
}
.icon-gratis:before {
  content: "\ea7a";
}
.icon-experiencias:before {
  content: "\f0a0";
}
.icon-notificaciones:before {
  content: "\f3d2";
}
.icon-home-big:before {
  content: "\f0b4";
}
.icon-home:before {
  content: "\f0b3";
}
