$icomoon-font-family: "wowawesome" !default;
$icomoon-font-path: "fonts" !default;

$icon-doble-monitor: "\e936";
$icon-candado-de-seguridad-cerrado: "\e947";
$icon-corazon-rayado: "\e948";
$icon-pantalla-de-monitor: "\e949";
$icon-refresh-path1: "\e94a";
$icon-refresh-path2: "\e94b";
$icon-refresh-path3: "\e94c";
$icon-refresh-path4: "\e94d";
$icon-github-d: "\e902";
$icon-github-g: "\e903";
$icon-github-x: "\e904";
$icon-github: "\e900";
$icon-hhm: "\e901";
$icon-ico-codepen: "\e92a";
$icon-ico-codesandbox: "\e92f";
$icon-ico-replit: "\e930";
$icon-w3: "\e931";
$icon-b-google-my-business: "\e90b";
$icon-b-grindr: "\e90a";
$icon-b-hornet: "\e909";
$icon-b-mercado-libre: "\e908";
$icon-b-onlyfans: "\e907";
$icon-b-scruff: "\e905";
$icon-google-my-business-path1: "\e90c";
$icon-google-my-business-path2: "\e90f";
$icon-google-my-business-path3: "\e910";
$icon-google-my-business-path4: "\e911";
$icon-google-my-business-path5: "\e912";
$icon-grindr: "\e90d";
$icon-hornet-path1: "\e90e";
$icon-hornet-path2: "\e913";
$icon-hornet-path3: "\e937";
$icon-hornet-path4: "\e938";
$icon-hornet-path5: "\e939";
$icon-hornet-path6: "\e93a";
$icon-hornet-path7: "\e93b";
$icon-hornet-path8: "\e93c";
$icon-mercado-libre-path1: "\e914";
$icon-mercado-libre-path2: "\e915";
$icon-mercado-libre-path3: "\e916";
$icon-mercado-libre-path4: "\e917";
$icon-mercado-libre-path5: "\e918";
$icon-mercado-libre-path6: "\e919";
$icon-mercado-libre-path7: "\e91a";
$icon-onlyfans-path1: "\e91b";
$icon-onlyfans-path2: "\e91c";
$icon-scruff-path1: "\e91d";
$icon-scruff-path2: "\e91e";
$icon-scruff-path3: "\e91f";
$icon-scruff-path4: "\e920";
$icon-scruff-path5: "\e921";
$icon-scruff-path6: "\e922";
$icon-scruff-path7: "\e923";
$icon-scruff-path8: "\e924";
$icon-scruff-path9: "\e925";
$icon-scruff-path10: "\e926";
$icon-scruff-path11: "\e927";
$icon-scruff-path12: "\e928";
$icon-netflix-gayflix: "\e929";
$icon-tumblr: "\e92b";
$icon-youtube-path1: "\ea5c";
$icon-youtube-path2: "\ea5d";
$icon-tripadvisor: "\f65e";
$icon-google-path1: "\ea5b";
$icon-google-path2: "\ea5e";
$icon-google-path3: "\ea5f";
$icon-google-path4: "\ea60";
$icon-whatsapp: "\ea5a";
$icon-facebook-azul-letra-path1: "\f0a1";
$icon-facebook-azul-letra-path2: "\f0a2";
$icon-facebook-azul-letra-path3: "\f0a3";
$icon-facebook-azul-letra-path4: "\f0a4";
$icon-gmail: "\e92c";
$icon-tumbrl: "\f661";
$icon-intagram-camera: "\f66c";
$icon-pinterest: "\e92d";
$icon-send: "\e92e";
$icon-repliit: "\f65a";
$icon-codesandbox-path1: "\f65b";
$icon-codesandbox-path2: "\f673";
$icon-w3spaces: "\f663";
$icon-hi5-path1: "\f662";
$icon-hi5-path2: "\f665";
$icon-hi5-path3: "\f666";
$icon-hi5-path4: "\f667";
$icon-hi5-path5: "\f668";
$icon-hi5-path6: "\f669";
$icon-hi5-path7: "\f66a";
$icon-hi5-path8: "\f66b";
$icon-hi5-path9: "\f66d";
$icon-css3: "\e934";
$icon-gitpod: "\e932";
$icon-html5: "\e933";
$icon-medium: "\e935";
$icon-xiib: "\f0b5";
$icon-xiiber-circular: "\f5c3";
$icon-emoji-bien: "\e93d";
$icon-emoji-molesto: "\e93e";
$icon-emoji-positivo: "\e93f";
$icon-dick-vector-path1: "\e940";
$icon-dick-vector-path2: "\e941";
$icon-dick-vector-path3: "\e942";
$icon-dick-vector-path4: "\e943";
$icon-dick-vector-path5: "\e944";
$icon-dick-vector-path6: "\e945";
$icon-dick-vector-path7: "\e946";
$icon-h: "\e906";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path1: "\f344";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path2: "\f345";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path3: "\f346";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path4: "\f347";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path5: "\f348";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path6: "\f349";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path7: "\f34a";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path8: "\f34b";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path9: "\f34c";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path10: "\f34d";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path11: "\f34e";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path12: "\f34f";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path13: "\f350";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path14: "\f351";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path15: "\f352";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path16: "\f353";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path17: "\f354";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path18: "\f355";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path19: "\f356";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path20: "\f357";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path21: "\f358";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path22: "\f359";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path23: "\f35a";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path24: "\f35b";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path25: "\f35c";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path26: "\f35d";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path27: "\f35e";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path28: "\f35f";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path29: "\f360";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path30: "\f361";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path31: "\f362";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path32: "\f363";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path33: "\f364";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path34: "\f365";
$icon-logo-viajemos-todxs-por-mexico-turismo-gay-turismo-rosa-color-path35: "\f366";
$icon-corazones-love: "\f509";
$icon-pregunta: "\f50a";
$icon-preguntas: "\f50b";
$icon-cursor-hand: "\f630";
$icon-donaciones: "\f633";
$icon-hospedaje: "\f63d";
$icon-transporte-en-bus-v2: "\f63e";
$icon-codepen: "\f657";
$icon-www: "\f65f";
$icon-facebook-azul-letra1-path1: "\f0a5";
$icon-facebook-azul-letra1-path2: "\f0a6";
$icon-facebook-azul-letra1-path3: "\f0aa";
$icon-facebook-azul-letra1-path4: "\f0ab";
$icon-like: "\f676";
$icon-twiiter-bird: "\f675";
$icon-twitter-bird: "\f5a4";
$icon-intagram-camera1: "\f66e";
$icon-instagram-path1: "\ee02";
$icon-instagram-path2: "\ee03";
$icon-instagram-path3: "\ee04";
$icon-instagram-path4: "\ee05";
$icon-instagram-path5: "\ee06";
$icon-instagram-path6: "\ee07";
$icon-instagram-path7: "\ee08";
$icon-instagram-path8: "\ee09";
$icon-instagram-path9: "\ee0a";
$icon-instagram-path10: "\ee0b";
$icon-instagram-path11: "\ee0c";
$icon-instagram-path12: "\ee0d";
$icon-instagram-path13: "\ee0e";
$icon-envio-terrestre: "\ea3b";
$icon-enemigos-digitales: "\ea3c";
$icon-escribio-autor: "\ea3d";
$icon-pagoOkey: "\ea3e";
$icon-emoji: "\ea3f";
$icon-frankestein: "\ea40";
$icon-mascarilla-covid: "\ea41";
$icon-avatar-bear: "\ea42";
$icon-avatar-leather: "\ea43";
$icon-underground: "\ea44";
$icon-avatar-hombre-circulo: "\ea45";
$icon-usuario-curculo-negro: "\f5a8";
$icon-avatar-hombre: "\ea46";
$icon-drag-rupaul-path1: "\ea47";
$icon-drag-rupaul-path2: "\ed10";
$icon-drag-rupaul-path3: "\ed11";
$icon-drag-rupaul-path4: "\ed12";
$icon-drag-rupaul-path5: "\ed13";
$icon-regresar-path1: "\ed14";
$icon-regresar-path2: "\eddd";
$icon-l: "\ea48";
$icon-luna-one: "\ea49";
$icon-sol-one: "\ea4a";
$icon-m: "\ea4b";
$icon-pacman: "\ea4c";
$icon-corazon: "\ea4d";
$icon-logo-dragvesti: "\f257";
$icon-logo-dragvesti-negro: "\ea4f";
$icon-logo-dragvesti-blanco-letras: "\ea50";
$icon-logo-hihello-path1: "\ea51";
$icon-logo-hihello-path2: "\edde";
$icon-logo-hihello-path3: "\eddf";
$icon-hihello-monster-color-hover-path1: "\ea53";
$icon-hihello-monster-color-hover-path2: "\ede0";
$icon-xiiber-logo-horizontal-color-path1: "\ea57";
$icon-xiiber-logo-horizontal-color-path2: "\ede1";
$icon-xiiber-logo-horizontal-color-path3: "\ede2";
$icon-xiiber-logo-horizontal-color-path4: "\ede3";
$icon-xiiber-logo-horizontal-color-path5: "\ede4";
$icon-xiiber-logo-horizontal-color-path6: "\ede5";
$icon-xiiber-logo-horizontal-color-path7: "\ede6";
$icon-xiiber-logo-horizontal-color-path8: "\ede7";
$icon-xiiber-logo-horizontal-color-path9: "\ede8";
$icon-xiiber-logo-horizontal-color-path10: "\edf4";
$icon-xiiber-logo-horizontal-color-path11: "\edf5";
$icon-xiiber-logo-horizontal-color-path12: "\edf6";
$icon-logo-cgt-mx: "\ec40";
$icon-logo-xiiber-bus-a-tepozspa-path1: "\ea59";
$icon-logo-xiiber-bus-a-tepozspa-path2: "\edf7";
$icon-logo-xiiber-bus-a-tepozspa-path3: "\edf8";
$icon-logo-xiiber-bus-a-tepozspa-path4: "\edf9";
$icon-logo-xiiber-bus-a-tepozspa-path5: "\edfa";
$icon-logo-xiiber-bus-a-tepozspa-path6: "\edfb";
$icon-logo-xiiber-bus-a-tepozspa-path7: "\edfc";
$icon-logo-xiiber-bus-a-tepozspa-path8: "\edfd";
$icon-logo-xiiber-bus-a-tepozspa-path9: "\edfe";
$icon-logo-xiiber-bus-a-tepozspa-path10: "\edff";
$icon-logo-xiiber-bus-a-tepozspa-path11: "\ee00";
$icon-logo-xiiber-bus-a-tepozspa-path12: "\ee01";
$icon-viajero: "\ea68";
$icon-solicitar-transporte: "\f45f";
$icon-gato1: "\ea61";
$icon-mota: "\f3cf";
$icon-yas-queen: "\ea62";
$icon-i-love-fuck-path1: "\f0b6";
$icon-i-love-fuck-path2: "\f0b7";
$icon-i-love-fuck-path3: "\f0b8";
$icon-i-love-fuck-path4: "\f0b9";
$icon-i-love-fuck-path5: "\f0ba";
$icon-i-love-fuck-path6: "\f0bb";
$icon-i-love-fuck-path7: "\f0bc";
$icon-i-love-fuck-path8: "\f0bd";
$icon-i-love-fuck-path9: "\f0be";
$icon-i-love-fuck-path10: "\f0bf";
$icon-i-love-fuck-path11: "\f0c0";
$icon-sexoral-one: "\f45b";
$icon-bailar: "\ea63";
$icon-avatar-fuera-del-closet: "\ea64";
$icon-hombre: "\ea66";
$icon-pareja-gay: "\f40c";
$icon-pareja-gay-love: "\f40d";
$icon-avatar-hombres-gay-icon-sombras-siluetas-path1: "\ea67";
$icon-avatar-hombres-gay-icon-sombras-siluetas-path2: "\ea83";
$icon-avatar-hombres-gay-icon-sombras-siluetas-path3: "\ea84";
$icon-avatar-hombres-gay-icon-sombras-siluetas-path4: "\ea85";
$icon-avatar-hombres-gay-icon-sombras-siluetas-path5: "\ea86";
$icon-leather-item: "\f0c2";
$icon-mascarilla: "\f3a6";
$icon-corriendo: "\f094";
$icon-sigue-la-flecha: "\f45e";
$icon-remando: "\f453";
$icon-en-bicicleta: "\f09b";
$icon-renta-de-carros: "\f454";
$icon-bus-de-lado: "\ea65";
$icon-condon: "\f090";
$icon-verga-one: "\f5a6";
$icon-condon-one: "\f091";
$icon-poppers: "\f416";
$icon-mundo-one: "\f3d1";
$icon-pastel: "\f40e";
$icon-pastel-maanitas: "\f410";
$icon-rifa: "\f457";
$icon-rifa-one: "\f458";
$icon-shot: "\f45c";
$icon-shot-one: "\f45d";
$icon-tv: "\f56c";
$icon-todo-incluido: "\f56a";
$icon-agregar-negocio: "\ea69";
$icon-flecha-atras: "\f0a8";
$icon-flecha-siguiente: "\f0a9";
$icon-etiquetas-codigo: "\f09f";
$icon-arrow-circle-abajo: "\ea6a";
$icon-arrow-circle-arriba: "\ea6b";
$icon-bus: "\ea6c";
$icon-alerta-del-bus: "\ea6d";
$icon-bus-horario: "\ea6e";
$icon-pastel-entero: "\f40f";
$icon-pets: "\f411";
$icon-comida-rapida: "\f08f";
$icon-restaurante: "\f456";
$icon-margarita: "\f3a5";
$icon-playa: "\f412";
$icon-sombrilla-de-playa: "\f460";
$icon-ferry: "\f0a7";
$icon-motorcycle: "\f3d0";
$icon-pokebola: "\f413";
$icon-pokemon-mimikyu: "\f415";
$icon-pokemon-eevee: "\f414";
$icon-location_pin: "\f0c3";
$icon-check-list: "\effc";
$icon-star: "\f461";
$icon-star_outline: "\f462";
$icon-emoji-a-medias: "\f098";
$icon-emoji-feliz: "\f099";
$icon-emoji-triste: "\f09a";
$icon-lavarse-las-manos: "\f0c1";
$icon-enjabonarse-las-manos: "\f09c";
$icon-secarse-las-manos: "\f45a";
$icon-touch_app: "\f56b";
$icon-configuraciones: "\f092";
$icon-mapa-de-sitio: "\f3a4";
$icon-alertas: "\ea70";
$icon-celular-en-mano-tomar-foto: "\eb88";
$icon-copiar: "\f093";
$icon-guardar: "\f0b2";
$icon-faq: "\ea71";
$icon-elipsix: "\f097";
$icon-error: "\f09d";
$icon-error_outline: "\f09e";
$icon-ayuda: "\ea72";
$icon-menu-puntos: "\f3ac";
$icon-elipsis: "\f096";
$icon-menu: "\f3ab";
$icon-carrito-de-compras: "\ea73";
$icon-tarjeta-de-regalo: "\f463";
$icon-verificado: "\f5a7";
$icon-reserva-en-lina: "\f455";
$icon-cancelacion-libre: "\ea74";
$icon-calendario: "\ea75";
$icon-calendario-editar: "\ea76";
$icon-viajes-one: "\f5bf";
$icon-viajes: "\f5be";
$icon-wifi: "\f5c1";
$icon-todas-las-tarjetas: "\ea77";
$icon-entradas: "\ea78";
$icon-boleto-avion: "\ea79";
$icon-gratis: "\ea7a";
$icon-experiencias: "\f0a0";
$icon-notificaciones: "\f3d2";
$icon-home-big: "\f0b4";
$icon-home: "\f0b3";

