@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3cwhbr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?3cwhbr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3cwhbr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3cwhbr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3cwhbr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mx-angel-de-la-independencia-one .path1 {
  &:before {
    content: $mx-angel-de-la-independencia-one-path1;  
    color: rgb(126, 126, 126);
  }
}
.mx-angel-de-la-independencia-one .path2 {
  &:before {
    content: $mx-angel-de-la-independencia-one-path2;  
    margin-left: -1em;  
    color: rgb(126, 126, 126);
  }
}
.mx-angel-de-la-independencia-one .path3 {
  &:before {
    content: $mx-angel-de-la-independencia-one-path3;  
    margin-left: -1em;  
    color: rgb(126, 126, 126);
  }
}
.mx-angel-de-la-independencia-one .path4 {
  &:before {
    content: $mx-angel-de-la-independencia-one-path4;  
    margin-left: -1em;  
    color: rgb(126, 126, 126);
  }
}
.mx-angel-de-la-independencia-one .path5 {
  &:before {
    content: $mx-angel-de-la-independencia-one-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.mx-angel-de-la-independencia-two {
  &:before {
    content: $mx-angel-de-la-independencia-two; 
  }
}
.mx-bellas-artes {
  &:before {
    content: $mx-bellas-artes; 
  }
}
.mx-catedral .path1 {
  &:before {
    content: $mx-catedral-path1;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path2 {
  &:before {
    content: $mx-catedral-path2;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path3 {
  &:before {
    content: $mx-catedral-path3;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path4 {
  &:before {
    content: $mx-catedral-path4;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path5 {
  &:before {
    content: $mx-catedral-path5;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-catedral .path6 {
  &:before {
    content: $mx-catedral-path6;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-catedral .path7 {
  &:before {
    content: $mx-catedral-path7;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-catedral .path8 {
  &:before {
    content: $mx-catedral-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.mx-catedral .path9 {
  &:before {
    content: $mx-catedral-path9;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path10 {
  &:before {
    content: $mx-catedral-path10;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path11 {
  &:before {
    content: $mx-catedral-path11;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path12 {
  &:before {
    content: $mx-catedral-path12;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path13 {
  &:before {
    content: $mx-catedral-path13;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path14 {
  &:before {
    content: $mx-catedral-path14;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path15 {
  &:before {
    content: $mx-catedral-path15;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path16 {
  &:before {
    content: $mx-catedral-path16;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path17 {
  &:before {
    content: $mx-catedral-path17;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path18 {
  &:before {
    content: $mx-catedral-path18;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path19 {
  &:before {
    content: $mx-catedral-path19;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path20 {
  &:before {
    content: $mx-catedral-path20;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path21 {
  &:before {
    content: $mx-catedral-path21;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path22 {
  &:before {
    content: $mx-catedral-path22;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path23 {
  &:before {
    content: $mx-catedral-path23;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path24 {
  &:before {
    content: $mx-catedral-path24;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path25 {
  &:before {
    content: $mx-catedral-path25;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path26 {
  &:before {
    content: $mx-catedral-path26;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path27 {
  &:before {
    content: $mx-catedral-path27;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path28 {
  &:before {
    content: $mx-catedral-path28;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path29 {
  &:before {
    content: $mx-catedral-path29;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path30 {
  &:before {
    content: $mx-catedral-path30;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path31 {
  &:before {
    content: $mx-catedral-path31;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path32 {
  &:before {
    content: $mx-catedral-path32;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path33 {
  &:before {
    content: $mx-catedral-path33;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path34 {
  &:before {
    content: $mx-catedral-path34;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path35 {
  &:before {
    content: $mx-catedral-path35;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path36 {
  &:before {
    content: $mx-catedral-path36;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path37 {
  &:before {
    content: $mx-catedral-path37;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path38 {
  &:before {
    content: $mx-catedral-path38;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path39 {
  &:before {
    content: $mx-catedral-path39;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path40 {
  &:before {
    content: $mx-catedral-path40;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path41 {
  &:before {
    content: $mx-catedral-path41;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path42 {
  &:before {
    content: $mx-catedral-path42;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path43 {
  &:before {
    content: $mx-catedral-path43;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path44 {
  &:before {
    content: $mx-catedral-path44;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path45 {
  &:before {
    content: $mx-catedral-path45;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path46 {
  &:before {
    content: $mx-catedral-path46;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path47 {
  &:before {
    content: $mx-catedral-path47;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path48 {
  &:before {
    content: $mx-catedral-path48;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path49 {
  &:before {
    content: $mx-catedral-path49;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path50 {
  &:before {
    content: $mx-catedral-path50;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path51 {
  &:before {
    content: $mx-catedral-path51;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path52 {
  &:before {
    content: $mx-catedral-path52;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path53 {
  &:before {
    content: $mx-catedral-path53;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path54 {
  &:before {
    content: $mx-catedral-path54;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path55 {
  &:before {
    content: $mx-catedral-path55;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path56 {
  &:before {
    content: $mx-catedral-path56;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path57 {
  &:before {
    content: $mx-catedral-path57;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path58 {
  &:before {
    content: $mx-catedral-path58;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-catedral .path59 {
  &:before {
    content: $mx-catedral-path59;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-catedral .path60 {
  &:before {
    content: $mx-catedral-path60;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path61 {
  &:before {
    content: $mx-catedral-path61;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path62 {
  &:before {
    content: $mx-catedral-path62;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path63 {
  &:before {
    content: $mx-catedral-path63;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path64 {
  &:before {
    content: $mx-catedral-path64;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path65 {
  &:before {
    content: $mx-catedral-path65;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path66 {
  &:before {
    content: $mx-catedral-path66;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path67 {
  &:before {
    content: $mx-catedral-path67;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path68 {
  &:before {
    content: $mx-catedral-path68;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-catedral .path69 {
  &:before {
    content: $mx-catedral-path69;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path70 {
  &:before {
    content: $mx-catedral-path70;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path71 {
  &:before {
    content: $mx-catedral-path71;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-catedral .path72 {
  &:before {
    content: $mx-catedral-path72;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path73 {
  &:before {
    content: $mx-catedral-path73;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path74 {
  &:before {
    content: $mx-catedral-path74;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path75 {
  &:before {
    content: $mx-catedral-path75;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path76 {
  &:before {
    content: $mx-catedral-path76;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path77 {
  &:before {
    content: $mx-catedral-path77;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path78 {
  &:before {
    content: $mx-catedral-path78;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path79 {
  &:before {
    content: $mx-catedral-path79;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path80 {
  &:before {
    content: $mx-catedral-path80;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path81 {
  &:before {
    content: $mx-catedral-path81;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path82 {
  &:before {
    content: $mx-catedral-path82;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path83 {
  &:before {
    content: $mx-catedral-path83;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path84 {
  &:before {
    content: $mx-catedral-path84;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path85 {
  &:before {
    content: $mx-catedral-path85;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path86 {
  &:before {
    content: $mx-catedral-path86;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path87 {
  &:before {
    content: $mx-catedral-path87;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path88 {
  &:before {
    content: $mx-catedral-path88;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path89 {
  &:before {
    content: $mx-catedral-path89;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path90 {
  &:before {
    content: $mx-catedral-path90;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path91 {
  &:before {
    content: $mx-catedral-path91;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path92 {
  &:before {
    content: $mx-catedral-path92;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path93 {
  &:before {
    content: $mx-catedral-path93;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path94 {
  &:before {
    content: $mx-catedral-path94;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path95 {
  &:before {
    content: $mx-catedral-path95;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path96 {
  &:before {
    content: $mx-catedral-path96;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path97 {
  &:before {
    content: $mx-catedral-path97;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path98 {
  &:before {
    content: $mx-catedral-path98;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path99 {
  &:before {
    content: $mx-catedral-path99;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path100 {
  &:before {
    content: $mx-catedral-path100;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path101 {
  &:before {
    content: $mx-catedral-path101;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path102 {
  &:before {
    content: $mx-catedral-path102;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path103 {
  &:before {
    content: $mx-catedral-path103;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path104 {
  &:before {
    content: $mx-catedral-path104;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path105 {
  &:before {
    content: $mx-catedral-path105;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path106 {
  &:before {
    content: $mx-catedral-path106;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path107 {
  &:before {
    content: $mx-catedral-path107;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path108 {
  &:before {
    content: $mx-catedral-path108;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path109 {
  &:before {
    content: $mx-catedral-path109;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-catedral .path110 {
  &:before {
    content: $mx-catedral-path110;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path111 {
  &:before {
    content: $mx-catedral-path111;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path112 {
  &:before {
    content: $mx-catedral-path112;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path113 {
  &:before {
    content: $mx-catedral-path113;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path114 {
  &:before {
    content: $mx-catedral-path114;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path115 {
  &:before {
    content: $mx-catedral-path115;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-catedral .path116 {
  &:before {
    content: $mx-catedral-path116;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-hemiciclo-a-juarez {
  &:before {
    content: $mx-hemiciclo-a-juarez; 
  }
}
.mx-palacio-nacional .path1 {
  &:before {
    content: $mx-palacio-nacional-path1;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path2 {
  &:before {
    content: $mx-palacio-nacional-path2;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path3 {
  &:before {
    content: $mx-palacio-nacional-path3;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path4 {
  &:before {
    content: $mx-palacio-nacional-path4;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path5 {
  &:before {
    content: $mx-palacio-nacional-path5;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path6 {
  &:before {
    content: $mx-palacio-nacional-path6;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path7 {
  &:before {
    content: $mx-palacio-nacional-path7;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path8 {
  &:before {
    content: $mx-palacio-nacional-path8;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path9 {
  &:before {
    content: $mx-palacio-nacional-path9;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path10 {
  &:before {
    content: $mx-palacio-nacional-path10;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path11 {
  &:before {
    content: $mx-palacio-nacional-path11;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path12 {
  &:before {
    content: $mx-palacio-nacional-path12;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path13 {
  &:before {
    content: $mx-palacio-nacional-path13;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path14 {
  &:before {
    content: $mx-palacio-nacional-path14;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path15 {
  &:before {
    content: $mx-palacio-nacional-path15;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path16 {
  &:before {
    content: $mx-palacio-nacional-path16;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path17 {
  &:before {
    content: $mx-palacio-nacional-path17;  
    margin-left: -1em;  
    color: rgb(216, 226, 228);
  }
}
.mx-palacio-nacional .path18 {
  &:before {
    content: $mx-palacio-nacional-path18;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path19 {
  &:before {
    content: $mx-palacio-nacional-path19;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path20 {
  &:before {
    content: $mx-palacio-nacional-path20;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path21 {
  &:before {
    content: $mx-palacio-nacional-path21;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path22 {
  &:before {
    content: $mx-palacio-nacional-path22;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path23 {
  &:before {
    content: $mx-palacio-nacional-path23;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path24 {
  &:before {
    content: $mx-palacio-nacional-path24;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path25 {
  &:before {
    content: $mx-palacio-nacional-path25;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path26 {
  &:before {
    content: $mx-palacio-nacional-path26;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path27 {
  &:before {
    content: $mx-palacio-nacional-path27;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path28 {
  &:before {
    content: $mx-palacio-nacional-path28;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path29 {
  &:before {
    content: $mx-palacio-nacional-path29;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path30 {
  &:before {
    content: $mx-palacio-nacional-path30;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path31 {
  &:before {
    content: $mx-palacio-nacional-path31;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path32 {
  &:before {
    content: $mx-palacio-nacional-path32;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path33 {
  &:before {
    content: $mx-palacio-nacional-path33;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path34 {
  &:before {
    content: $mx-palacio-nacional-path34;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path35 {
  &:before {
    content: $mx-palacio-nacional-path35;  
    margin-left: -1em;  
    color: rgb(137, 137, 142);
  }
}
.mx-palacio-nacional .path36 {
  &:before {
    content: $mx-palacio-nacional-path36;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path37 {
  &:before {
    content: $mx-palacio-nacional-path37;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path38 {
  &:before {
    content: $mx-palacio-nacional-path38;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path39 {
  &:before {
    content: $mx-palacio-nacional-path39;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path40 {
  &:before {
    content: $mx-palacio-nacional-path40;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path41 {
  &:before {
    content: $mx-palacio-nacional-path41;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path42 {
  &:before {
    content: $mx-palacio-nacional-path42;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path43 {
  &:before {
    content: $mx-palacio-nacional-path43;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path44 {
  &:before {
    content: $mx-palacio-nacional-path44;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path45 {
  &:before {
    content: $mx-palacio-nacional-path45;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path46 {
  &:before {
    content: $mx-palacio-nacional-path46;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path47 {
  &:before {
    content: $mx-palacio-nacional-path47;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path48 {
  &:before {
    content: $mx-palacio-nacional-path48;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path49 {
  &:before {
    content: $mx-palacio-nacional-path49;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path50 {
  &:before {
    content: $mx-palacio-nacional-path50;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path51 {
  &:before {
    content: $mx-palacio-nacional-path51;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path52 {
  &:before {
    content: $mx-palacio-nacional-path52;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path53 {
  &:before {
    content: $mx-palacio-nacional-path53;  
    margin-left: -1em;  
    color: rgb(70, 58, 46);
  }
}
.mx-palacio-nacional .path54 {
  &:before {
    content: $mx-palacio-nacional-path54;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path55 {
  &:before {
    content: $mx-palacio-nacional-path55;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path56 {
  &:before {
    content: $mx-palacio-nacional-path56;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path57 {
  &:before {
    content: $mx-palacio-nacional-path57;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path58 {
  &:before {
    content: $mx-palacio-nacional-path58;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path59 {
  &:before {
    content: $mx-palacio-nacional-path59;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path60 {
  &:before {
    content: $mx-palacio-nacional-path60;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path61 {
  &:before {
    content: $mx-palacio-nacional-path61;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path62 {
  &:before {
    content: $mx-palacio-nacional-path62;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path63 {
  &:before {
    content: $mx-palacio-nacional-path63;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path64 {
  &:before {
    content: $mx-palacio-nacional-path64;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path65 {
  &:before {
    content: $mx-palacio-nacional-path65;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path66 {
  &:before {
    content: $mx-palacio-nacional-path66;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path67 {
  &:before {
    content: $mx-palacio-nacional-path67;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path68 {
  &:before {
    content: $mx-palacio-nacional-path68;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path69 {
  &:before {
    content: $mx-palacio-nacional-path69;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path70 {
  &:before {
    content: $mx-palacio-nacional-path70;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path71 {
  &:before {
    content: $mx-palacio-nacional-path71;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path72 {
  &:before {
    content: $mx-palacio-nacional-path72;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path73 {
  &:before {
    content: $mx-palacio-nacional-path73;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path74 {
  &:before {
    content: $mx-palacio-nacional-path74;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path75 {
  &:before {
    content: $mx-palacio-nacional-path75;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path76 {
  &:before {
    content: $mx-palacio-nacional-path76;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path77 {
  &:before {
    content: $mx-palacio-nacional-path77;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path78 {
  &:before {
    content: $mx-palacio-nacional-path78;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path79 {
  &:before {
    content: $mx-palacio-nacional-path79;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path80 {
  &:before {
    content: $mx-palacio-nacional-path80;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path81 {
  &:before {
    content: $mx-palacio-nacional-path81;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path82 {
  &:before {
    content: $mx-palacio-nacional-path82;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path83 {
  &:before {
    content: $mx-palacio-nacional-path83;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path84 {
  &:before {
    content: $mx-palacio-nacional-path84;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path85 {
  &:before {
    content: $mx-palacio-nacional-path85;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path86 {
  &:before {
    content: $mx-palacio-nacional-path86;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path87 {
  &:before {
    content: $mx-palacio-nacional-path87;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path88 {
  &:before {
    content: $mx-palacio-nacional-path88;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path89 {
  &:before {
    content: $mx-palacio-nacional-path89;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path90 {
  &:before {
    content: $mx-palacio-nacional-path90;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path91 {
  &:before {
    content: $mx-palacio-nacional-path91;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path92 {
  &:before {
    content: $mx-palacio-nacional-path92;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path93 {
  &:before {
    content: $mx-palacio-nacional-path93;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path94 {
  &:before {
    content: $mx-palacio-nacional-path94;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path95 {
  &:before {
    content: $mx-palacio-nacional-path95;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path96 {
  &:before {
    content: $mx-palacio-nacional-path96;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path97 {
  &:before {
    content: $mx-palacio-nacional-path97;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path98 {
  &:before {
    content: $mx-palacio-nacional-path98;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path99 {
  &:before {
    content: $mx-palacio-nacional-path99;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path100 {
  &:before {
    content: $mx-palacio-nacional-path100;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path101 {
  &:before {
    content: $mx-palacio-nacional-path101;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path102 {
  &:before {
    content: $mx-palacio-nacional-path102;  
    margin-left: -1em;  
    color: rgb(186, 186, 190);
  }
}
.mx-palacio-nacional .path103 {
  &:before {
    content: $mx-palacio-nacional-path103;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path104 {
  &:before {
    content: $mx-palacio-nacional-path104;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path105 {
  &:before {
    content: $mx-palacio-nacional-path105;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path106 {
  &:before {
    content: $mx-palacio-nacional-path106;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path107 {
  &:before {
    content: $mx-palacio-nacional-path107;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path108 {
  &:before {
    content: $mx-palacio-nacional-path108;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path109 {
  &:before {
    content: $mx-palacio-nacional-path109;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path110 {
  &:before {
    content: $mx-palacio-nacional-path110;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path111 {
  &:before {
    content: $mx-palacio-nacional-path111;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path112 {
  &:before {
    content: $mx-palacio-nacional-path112;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path113 {
  &:before {
    content: $mx-palacio-nacional-path113;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path114 {
  &:before {
    content: $mx-palacio-nacional-path114;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path115 {
  &:before {
    content: $mx-palacio-nacional-path115;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path116 {
  &:before {
    content: $mx-palacio-nacional-path116;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path117 {
  &:before {
    content: $mx-palacio-nacional-path117;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path118 {
  &:before {
    content: $mx-palacio-nacional-path118;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path119 {
  &:before {
    content: $mx-palacio-nacional-path119;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path120 {
  &:before {
    content: $mx-palacio-nacional-path120;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path121 {
  &:before {
    content: $mx-palacio-nacional-path121;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path122 {
  &:before {
    content: $mx-palacio-nacional-path122;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path123 {
  &:before {
    content: $mx-palacio-nacional-path123;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path124 {
  &:before {
    content: $mx-palacio-nacional-path124;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path125 {
  &:before {
    content: $mx-palacio-nacional-path125;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path126 {
  &:before {
    content: $mx-palacio-nacional-path126;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path127 {
  &:before {
    content: $mx-palacio-nacional-path127;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path128 {
  &:before {
    content: $mx-palacio-nacional-path128;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path129 {
  &:before {
    content: $mx-palacio-nacional-path129;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path130 {
  &:before {
    content: $mx-palacio-nacional-path130;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path131 {
  &:before {
    content: $mx-palacio-nacional-path131;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path132 {
  &:before {
    content: $mx-palacio-nacional-path132;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path133 {
  &:before {
    content: $mx-palacio-nacional-path133;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path134 {
  &:before {
    content: $mx-palacio-nacional-path134;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path135 {
  &:before {
    content: $mx-palacio-nacional-path135;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path136 {
  &:before {
    content: $mx-palacio-nacional-path136;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path137 {
  &:before {
    content: $mx-palacio-nacional-path137;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path138 {
  &:before {
    content: $mx-palacio-nacional-path138;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path139 {
  &:before {
    content: $mx-palacio-nacional-path139;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path140 {
  &:before {
    content: $mx-palacio-nacional-path140;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path141 {
  &:before {
    content: $mx-palacio-nacional-path141;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path142 {
  &:before {
    content: $mx-palacio-nacional-path142;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path143 {
  &:before {
    content: $mx-palacio-nacional-path143;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path144 {
  &:before {
    content: $mx-palacio-nacional-path144;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path145 {
  &:before {
    content: $mx-palacio-nacional-path145;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path146 {
  &:before {
    content: $mx-palacio-nacional-path146;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path147 {
  &:before {
    content: $mx-palacio-nacional-path147;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path148 {
  &:before {
    content: $mx-palacio-nacional-path148;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path149 {
  &:before {
    content: $mx-palacio-nacional-path149;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path150 {
  &:before {
    content: $mx-palacio-nacional-path150;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path151 {
  &:before {
    content: $mx-palacio-nacional-path151;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path152 {
  &:before {
    content: $mx-palacio-nacional-path152;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path153 {
  &:before {
    content: $mx-palacio-nacional-path153;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path154 {
  &:before {
    content: $mx-palacio-nacional-path154;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path155 {
  &:before {
    content: $mx-palacio-nacional-path155;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path156 {
  &:before {
    content: $mx-palacio-nacional-path156;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path157 {
  &:before {
    content: $mx-palacio-nacional-path157;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path158 {
  &:before {
    content: $mx-palacio-nacional-path158;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path159 {
  &:before {
    content: $mx-palacio-nacional-path159;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path160 {
  &:before {
    content: $mx-palacio-nacional-path160;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path161 {
  &:before {
    content: $mx-palacio-nacional-path161;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path162 {
  &:before {
    content: $mx-palacio-nacional-path162;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path163 {
  &:before {
    content: $mx-palacio-nacional-path163;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path164 {
  &:before {
    content: $mx-palacio-nacional-path164;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path165 {
  &:before {
    content: $mx-palacio-nacional-path165;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path166 {
  &:before {
    content: $mx-palacio-nacional-path166;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path167 {
  &:before {
    content: $mx-palacio-nacional-path167;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path168 {
  &:before {
    content: $mx-palacio-nacional-path168;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path169 {
  &:before {
    content: $mx-palacio-nacional-path169;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path170 {
  &:before {
    content: $mx-palacio-nacional-path170;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path171 {
  &:before {
    content: $mx-palacio-nacional-path171;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path172 {
  &:before {
    content: $mx-palacio-nacional-path172;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path173 {
  &:before {
    content: $mx-palacio-nacional-path173;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path174 {
  &:before {
    content: $mx-palacio-nacional-path174;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path175 {
  &:before {
    content: $mx-palacio-nacional-path175;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path176 {
  &:before {
    content: $mx-palacio-nacional-path176;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path177 {
  &:before {
    content: $mx-palacio-nacional-path177;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path178 {
  &:before {
    content: $mx-palacio-nacional-path178;  
    margin-left: -1em;  
    color: rgb(25, 23, 28);
  }
}
.mx-palacio-nacional .path179 {
  &:before {
    content: $mx-palacio-nacional-path179;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path180 {
  &:before {
    content: $mx-palacio-nacional-path180;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path181 {
  &:before {
    content: $mx-palacio-nacional-path181;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path182 {
  &:before {
    content: $mx-palacio-nacional-path182;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path183 {
  &:before {
    content: $mx-palacio-nacional-path183;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path184 {
  &:before {
    content: $mx-palacio-nacional-path184;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path185 {
  &:before {
    content: $mx-palacio-nacional-path185;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path186 {
  &:before {
    content: $mx-palacio-nacional-path186;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path187 {
  &:before {
    content: $mx-palacio-nacional-path187;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path188 {
  &:before {
    content: $mx-palacio-nacional-path188;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path189 {
  &:before {
    content: $mx-palacio-nacional-path189;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-palacio-nacional .path190 {
  &:before {
    content: $mx-palacio-nacional-path190;  
    margin-left: -1em;  
    color: rgb(103, 103, 109);
  }
}
.mx-revolucion {
  &:before {
    content: $mx-revolucion; 
  }
}

