$icomoon-font-family: "Mexico-Glyphs" !default;
$icomoon-font-path: "fonts" !default;

$mx-angel-de-la-independencia-one-path1: "\e900";
$mx-angel-de-la-independencia-one-path2: "\e901";
$mx-angel-de-la-independencia-one-path3: "\e902";
$mx-angel-de-la-independencia-one-path4: "\e903";
$mx-angel-de-la-independencia-one-path5: "\e904";
$mx-angel-de-la-independencia-two: "\e905";
$mx-bellas-artes: "\e906";
$mx-catedral-path1: "\e907";
$mx-catedral-path2: "\e908";
$mx-catedral-path3: "\e909";
$mx-catedral-path4: "\e90a";
$mx-catedral-path5: "\e90b";
$mx-catedral-path6: "\e90c";
$mx-catedral-path7: "\e90d";
$mx-catedral-path8: "\e90e";
$mx-catedral-path9: "\e90f";
$mx-catedral-path10: "\e910";
$mx-catedral-path11: "\e911";
$mx-catedral-path12: "\e912";
$mx-catedral-path13: "\e913";
$mx-catedral-path14: "\e914";
$mx-catedral-path15: "\e915";
$mx-catedral-path16: "\e916";
$mx-catedral-path17: "\e917";
$mx-catedral-path18: "\e918";
$mx-catedral-path19: "\e919";
$mx-catedral-path20: "\e91a";
$mx-catedral-path21: "\e91b";
$mx-catedral-path22: "\e91c";
$mx-catedral-path23: "\e91d";
$mx-catedral-path24: "\e91e";
$mx-catedral-path25: "\e91f";
$mx-catedral-path26: "\e920";
$mx-catedral-path27: "\e921";
$mx-catedral-path28: "\e922";
$mx-catedral-path29: "\e923";
$mx-catedral-path30: "\e924";
$mx-catedral-path31: "\e925";
$mx-catedral-path32: "\e926";
$mx-catedral-path33: "\e927";
$mx-catedral-path34: "\e928";
$mx-catedral-path35: "\e929";
$mx-catedral-path36: "\e92a";
$mx-catedral-path37: "\e92b";
$mx-catedral-path38: "\e92c";
$mx-catedral-path39: "\e92d";
$mx-catedral-path40: "\e92e";
$mx-catedral-path41: "\e92f";
$mx-catedral-path42: "\e930";
$mx-catedral-path43: "\e931";
$mx-catedral-path44: "\e932";
$mx-catedral-path45: "\e933";
$mx-catedral-path46: "\e934";
$mx-catedral-path47: "\e935";
$mx-catedral-path48: "\e936";
$mx-catedral-path49: "\e937";
$mx-catedral-path50: "\e938";
$mx-catedral-path51: "\e939";
$mx-catedral-path52: "\e93a";
$mx-catedral-path53: "\e93b";
$mx-catedral-path54: "\e93c";
$mx-catedral-path55: "\e93d";
$mx-catedral-path56: "\e93e";
$mx-catedral-path57: "\e93f";
$mx-catedral-path58: "\e940";
$mx-catedral-path59: "\e941";
$mx-catedral-path60: "\e942";
$mx-catedral-path61: "\e943";
$mx-catedral-path62: "\e944";
$mx-catedral-path63: "\e945";
$mx-catedral-path64: "\e946";
$mx-catedral-path65: "\e947";
$mx-catedral-path66: "\e948";
$mx-catedral-path67: "\e949";
$mx-catedral-path68: "\e94a";
$mx-catedral-path69: "\e94b";
$mx-catedral-path70: "\e94c";
$mx-catedral-path71: "\e94d";
$mx-catedral-path72: "\e94e";
$mx-catedral-path73: "\e94f";
$mx-catedral-path74: "\e950";
$mx-catedral-path75: "\e951";
$mx-catedral-path76: "\e952";
$mx-catedral-path77: "\e953";
$mx-catedral-path78: "\e954";
$mx-catedral-path79: "\e955";
$mx-catedral-path80: "\e956";
$mx-catedral-path81: "\e957";
$mx-catedral-path82: "\e958";
$mx-catedral-path83: "\e959";
$mx-catedral-path84: "\e95a";
$mx-catedral-path85: "\e95b";
$mx-catedral-path86: "\e95c";
$mx-catedral-path87: "\e95d";
$mx-catedral-path88: "\e95e";
$mx-catedral-path89: "\e95f";
$mx-catedral-path90: "\e960";
$mx-catedral-path91: "\e961";
$mx-catedral-path92: "\e962";
$mx-catedral-path93: "\e963";
$mx-catedral-path94: "\e964";
$mx-catedral-path95: "\e965";
$mx-catedral-path96: "\e966";
$mx-catedral-path97: "\e967";
$mx-catedral-path98: "\e968";
$mx-catedral-path99: "\e969";
$mx-catedral-path100: "\e96a";
$mx-catedral-path101: "\e96b";
$mx-catedral-path102: "\e96c";
$mx-catedral-path103: "\e96d";
$mx-catedral-path104: "\e96e";
$mx-catedral-path105: "\e96f";
$mx-catedral-path106: "\e970";
$mx-catedral-path107: "\e971";
$mx-catedral-path108: "\e972";
$mx-catedral-path109: "\e973";
$mx-catedral-path110: "\e974";
$mx-catedral-path111: "\e975";
$mx-catedral-path112: "\e976";
$mx-catedral-path113: "\e977";
$mx-catedral-path114: "\e978";
$mx-catedral-path115: "\e979";
$mx-catedral-path116: "\e97a";
$mx-hemiciclo-a-juarez: "\e97b";
$mx-palacio-nacional-path1: "\e97c";
$mx-palacio-nacional-path2: "\e97d";
$mx-palacio-nacional-path3: "\e97e";
$mx-palacio-nacional-path4: "\e97f";
$mx-palacio-nacional-path5: "\e980";
$mx-palacio-nacional-path6: "\e981";
$mx-palacio-nacional-path7: "\e982";
$mx-palacio-nacional-path8: "\e983";
$mx-palacio-nacional-path9: "\e984";
$mx-palacio-nacional-path10: "\e985";
$mx-palacio-nacional-path11: "\e986";
$mx-palacio-nacional-path12: "\e987";
$mx-palacio-nacional-path13: "\e988";
$mx-palacio-nacional-path14: "\e989";
$mx-palacio-nacional-path15: "\e98a";
$mx-palacio-nacional-path16: "\e98b";
$mx-palacio-nacional-path17: "\e98c";
$mx-palacio-nacional-path18: "\e98d";
$mx-palacio-nacional-path19: "\e98e";
$mx-palacio-nacional-path20: "\e98f";
$mx-palacio-nacional-path21: "\e990";
$mx-palacio-nacional-path22: "\e991";
$mx-palacio-nacional-path23: "\e992";
$mx-palacio-nacional-path24: "\e993";
$mx-palacio-nacional-path25: "\e994";
$mx-palacio-nacional-path26: "\e995";
$mx-palacio-nacional-path27: "\e996";
$mx-palacio-nacional-path28: "\e997";
$mx-palacio-nacional-path29: "\e998";
$mx-palacio-nacional-path30: "\e999";
$mx-palacio-nacional-path31: "\e99a";
$mx-palacio-nacional-path32: "\e99b";
$mx-palacio-nacional-path33: "\e99c";
$mx-palacio-nacional-path34: "\e99d";
$mx-palacio-nacional-path35: "\e99e";
$mx-palacio-nacional-path36: "\e99f";
$mx-palacio-nacional-path37: "\e9a0";
$mx-palacio-nacional-path38: "\e9a1";
$mx-palacio-nacional-path39: "\e9a2";
$mx-palacio-nacional-path40: "\e9a3";
$mx-palacio-nacional-path41: "\e9a4";
$mx-palacio-nacional-path42: "\e9a5";
$mx-palacio-nacional-path43: "\e9a6";
$mx-palacio-nacional-path44: "\e9a7";
$mx-palacio-nacional-path45: "\e9a8";
$mx-palacio-nacional-path46: "\e9a9";
$mx-palacio-nacional-path47: "\e9aa";
$mx-palacio-nacional-path48: "\e9ab";
$mx-palacio-nacional-path49: "\e9ac";
$mx-palacio-nacional-path50: "\e9ad";
$mx-palacio-nacional-path51: "\e9ae";
$mx-palacio-nacional-path52: "\e9af";
$mx-palacio-nacional-path53: "\e9b0";
$mx-palacio-nacional-path54: "\e9b1";
$mx-palacio-nacional-path55: "\e9b2";
$mx-palacio-nacional-path56: "\e9b3";
$mx-palacio-nacional-path57: "\e9b4";
$mx-palacio-nacional-path58: "\e9b5";
$mx-palacio-nacional-path59: "\e9b6";
$mx-palacio-nacional-path60: "\e9b7";
$mx-palacio-nacional-path61: "\e9b8";
$mx-palacio-nacional-path62: "\e9b9";
$mx-palacio-nacional-path63: "\e9ba";
$mx-palacio-nacional-path64: "\e9bb";
$mx-palacio-nacional-path65: "\e9bc";
$mx-palacio-nacional-path66: "\e9bd";
$mx-palacio-nacional-path67: "\e9be";
$mx-palacio-nacional-path68: "\e9bf";
$mx-palacio-nacional-path69: "\e9c0";
$mx-palacio-nacional-path70: "\e9c1";
$mx-palacio-nacional-path71: "\e9c2";
$mx-palacio-nacional-path72: "\e9c3";
$mx-palacio-nacional-path73: "\e9c4";
$mx-palacio-nacional-path74: "\e9c5";
$mx-palacio-nacional-path75: "\e9c6";
$mx-palacio-nacional-path76: "\e9c7";
$mx-palacio-nacional-path77: "\e9c8";
$mx-palacio-nacional-path78: "\e9c9";
$mx-palacio-nacional-path79: "\e9ca";
$mx-palacio-nacional-path80: "\e9cb";
$mx-palacio-nacional-path81: "\e9cc";
$mx-palacio-nacional-path82: "\e9cd";
$mx-palacio-nacional-path83: "\e9ce";
$mx-palacio-nacional-path84: "\e9cf";
$mx-palacio-nacional-path85: "\e9d0";
$mx-palacio-nacional-path86: "\e9d1";
$mx-palacio-nacional-path87: "\e9d2";
$mx-palacio-nacional-path88: "\e9d3";
$mx-palacio-nacional-path89: "\e9d4";
$mx-palacio-nacional-path90: "\e9d5";
$mx-palacio-nacional-path91: "\e9d6";
$mx-palacio-nacional-path92: "\e9d7";
$mx-palacio-nacional-path93: "\e9d8";
$mx-palacio-nacional-path94: "\e9d9";
$mx-palacio-nacional-path95: "\e9da";
$mx-palacio-nacional-path96: "\e9db";
$mx-palacio-nacional-path97: "\e9dc";
$mx-palacio-nacional-path98: "\e9dd";
$mx-palacio-nacional-path99: "\e9de";
$mx-palacio-nacional-path100: "\e9df";
$mx-palacio-nacional-path101: "\e9e0";
$mx-palacio-nacional-path102: "\e9e1";
$mx-palacio-nacional-path103: "\e9e2";
$mx-palacio-nacional-path104: "\e9e3";
$mx-palacio-nacional-path105: "\e9e4";
$mx-palacio-nacional-path106: "\e9e5";
$mx-palacio-nacional-path107: "\e9e6";
$mx-palacio-nacional-path108: "\e9e7";
$mx-palacio-nacional-path109: "\e9e8";
$mx-palacio-nacional-path110: "\e9e9";
$mx-palacio-nacional-path111: "\e9ea";
$mx-palacio-nacional-path112: "\e9eb";
$mx-palacio-nacional-path113: "\e9ec";
$mx-palacio-nacional-path114: "\e9ed";
$mx-palacio-nacional-path115: "\e9ee";
$mx-palacio-nacional-path116: "\e9ef";
$mx-palacio-nacional-path117: "\e9f0";
$mx-palacio-nacional-path118: "\e9f1";
$mx-palacio-nacional-path119: "\e9f2";
$mx-palacio-nacional-path120: "\e9f3";
$mx-palacio-nacional-path121: "\e9f4";
$mx-palacio-nacional-path122: "\e9f5";
$mx-palacio-nacional-path123: "\e9f6";
$mx-palacio-nacional-path124: "\e9f7";
$mx-palacio-nacional-path125: "\e9f8";
$mx-palacio-nacional-path126: "\e9f9";
$mx-palacio-nacional-path127: "\e9fa";
$mx-palacio-nacional-path128: "\e9fb";
$mx-palacio-nacional-path129: "\e9fc";
$mx-palacio-nacional-path130: "\e9fd";
$mx-palacio-nacional-path131: "\e9fe";
$mx-palacio-nacional-path132: "\e9ff";
$mx-palacio-nacional-path133: "\ea00";
$mx-palacio-nacional-path134: "\ea01";
$mx-palacio-nacional-path135: "\ea02";
$mx-palacio-nacional-path136: "\ea03";
$mx-palacio-nacional-path137: "\ea04";
$mx-palacio-nacional-path138: "\ea05";
$mx-palacio-nacional-path139: "\ea06";
$mx-palacio-nacional-path140: "\ea07";
$mx-palacio-nacional-path141: "\ea08";
$mx-palacio-nacional-path142: "\ea09";
$mx-palacio-nacional-path143: "\ea0a";
$mx-palacio-nacional-path144: "\ea0b";
$mx-palacio-nacional-path145: "\ea0c";
$mx-palacio-nacional-path146: "\ea0d";
$mx-palacio-nacional-path147: "\ea0e";
$mx-palacio-nacional-path148: "\ea0f";
$mx-palacio-nacional-path149: "\ea10";
$mx-palacio-nacional-path150: "\ea11";
$mx-palacio-nacional-path151: "\ea12";
$mx-palacio-nacional-path152: "\ea13";
$mx-palacio-nacional-path153: "\ea14";
$mx-palacio-nacional-path154: "\ea15";
$mx-palacio-nacional-path155: "\ea16";
$mx-palacio-nacional-path156: "\ea17";
$mx-palacio-nacional-path157: "\ea18";
$mx-palacio-nacional-path158: "\ea19";
$mx-palacio-nacional-path159: "\ea1a";
$mx-palacio-nacional-path160: "\ea1b";
$mx-palacio-nacional-path161: "\ea1c";
$mx-palacio-nacional-path162: "\ea1d";
$mx-palacio-nacional-path163: "\ea1e";
$mx-palacio-nacional-path164: "\ea1f";
$mx-palacio-nacional-path165: "\ea20";
$mx-palacio-nacional-path166: "\ea21";
$mx-palacio-nacional-path167: "\ea22";
$mx-palacio-nacional-path168: "\ea23";
$mx-palacio-nacional-path169: "\ea24";
$mx-palacio-nacional-path170: "\ea25";
$mx-palacio-nacional-path171: "\ea26";
$mx-palacio-nacional-path172: "\ea27";
$mx-palacio-nacional-path173: "\ea28";
$mx-palacio-nacional-path174: "\ea29";
$mx-palacio-nacional-path175: "\ea2a";
$mx-palacio-nacional-path176: "\ea2b";
$mx-palacio-nacional-path177: "\ea2c";
$mx-palacio-nacional-path178: "\ea2d";
$mx-palacio-nacional-path179: "\ea2e";
$mx-palacio-nacional-path180: "\ea2f";
$mx-palacio-nacional-path181: "\ea30";
$mx-palacio-nacional-path182: "\ea31";
$mx-palacio-nacional-path183: "\ea32";
$mx-palacio-nacional-path184: "\ea33";
$mx-palacio-nacional-path185: "\ea34";
$mx-palacio-nacional-path186: "\ea35";
$mx-palacio-nacional-path187: "\ea36";
$mx-palacio-nacional-path188: "\ea37";
$mx-palacio-nacional-path189: "\ea38";
$mx-palacio-nacional-path190: "\ea39";
$mx-revolucion: "\ea3a";

