@font-face {
  font-family: 'Animales-Glyphs';
  src:  url('fonts/Animales-Glyphs.eot?3kg6z1');
  src:  url('fonts/Animales-Glyphs.eot?3kg6z1#iefix') format('embedded-opentype'),
    url('fonts/Animales-Glyphs.ttf?3kg6z1') format('truetype'),
    url('fonts/Animales-Glyphs.woff?3kg6z1') format('woff'),
    url('fonts/Animales-Glyphs.svg?3kg6z1#Animales-Glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Animales-Glyphs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animal-fenix:before {
  content: "\e900";
}
.animal-cerdo:before {
  content: "\e901";
}
.animal-buho:before {
  content: "\e902";
}
.animal-serpiente:before {
  content: "\e903";
}
.animal-medusa:before {
  content: "\e904";
}
.animal-vaca:before {
  content: "\e905";
}
.animal-gato:before {
  content: "\e906";
}
