$icomoon-font-family: "Animales-Glyphs" !default;
$icomoon-font-path: "fonts" !default;

$animal-fenix: "\e900";
$animal-cerdo: "\e901";
$animal-buho: "\e902";
$animal-serpiente: "\e903";
$animal-medusa: "\e904";
$animal-vaca: "\e905";
$animal-gato: "\e906";

