$icomoon-font-family: "horoscope" !default;
$icomoon-font-path: "fonts" !default;

$icon-acuario: "\e900";
$icon-aries: "\e901";
$icon-cancer: "\e902";
$icon-capricornio: "\e903";
$icon-escorpion: "\e904";
$icon-geminis: "\e905";
$icon-leo: "\e906";
$icon-libra: "\e907";
$icon-piscis: "\e908";
$icon-sagitario: "\e909";
$icon-tauro: "\e90a";
$icon-virgo: "\e90b";

