$icomoon-font-family: "Banderas-Glyphs" !default;
$icomoon-font-path: "fonts" !default;

$bandera-tailandia-path1: "\e900";
$bandera-tailandia-path2: "\e901";
$bandera-tailandia-path3: "\e902";
$bandera-tailandia-path4: "\e903";
$bandera-tailandia-path5: "\e904";
$bandera-argentina-path1: "\e905";
$bandera-argentina-path2: "\e906";
$bandera-argentina-path3: "\e907";
$bandera-argentina-path4: "\e908";
$bandera-guatemala-path1: "\e909";
$bandera-guatemala-path2: "\e90a";
$bandera-guatemala-path3: "\e90b";
$bandera-guatemala-path4: "\e90c";
$bandera-guatemala-path5: "\e90d";
$bandera-guatemala-path6: "\e90e";
$bandera-guatemala-path7: "\e90f";
$bandera-guatemala-path8: "\e910";
$bandera-guatemala-path9: "\e911";
$bandera-guatemala-path10: "\e912";
$bandera-guatemala-path11: "\e913";
$bandera-guatemala-path12: "\e914";
$bandera-chile-path1: "\e915";
$bandera-chile-path2: "\e916";
$bandera-chile-path3: "\e917";
$bandera-chile-path4: "\e918";
$bandera-colombia-path1: "\e919";
$bandera-colombia-path2: "\e91a";
$bandera-colombia-path3: "\e91b";
$bandera-costarica-path1: "\e91c";
$bandera-costarica-path2: "\e91d";
$bandera-costarica-path3: "\e91e";
$bandera-costarica-path4: "\e91f";
$bandera-costarica-path5: "\e920";
$bandera-mexico-path1: "\e921";
$bandera-mexico-path2: "\e922";
$bandera-mexico-path3: "\e923";
$bandera-mexico-path4: "\e924";
$bandera-mexico-path5: "\e925";
$bandera-mexico-path6: "\e926";
$bandera-mexico-path7: "\e927";
$bandera-mexico-path8: "\e928";
$bandera-eeuu-path1: "\e929";
$bandera-eeuu-path2: "\e92a";
$bandera-eeuu-path3: "\e92b";
$bandera-eeuu-path4: "\e92c";
$bandera-eeuu-path5: "\e92d";
$bandera-eeuu-path6: "\e92e";
$bandera-eeuu-path7: "\e92f";
$bandera-eeuu-path8: "\e930";
$bandera-eeuu-path9: "\e931";
$bandera-eeuu-path10: "\e932";
$bandera-eeuu-path11: "\e933";
$bandera-eeuu-path12: "\e934";
$bandera-eeuu-path13: "\e935";
$bandera-eeuu-path14: "\e936";
$bandera-eeuu-path15: "\e937";
$bandera-eeuu-path16: "\e938";
$bandera-eeuu-path17: "\e939";
$bandera-eeuu-path18: "\e93a";
$bandera-eeuu-path19: "\e93b";
$bandera-eeuu-path20: "\e93c";
$bandera-eeuu-path21: "\e93d";
$bandera-eeuu-path22: "\e93e";
$bandera-eeuu-path23: "\e93f";
$bandera-eeuu-path24: "\e940";
$bandera-eeuu-path25: "\e941";
$bandera-eeuu-path26: "\e942";
$bandera-eeuu-path27: "\e943";
$bandera-eeuu-path28: "\e944";
$bandera-eeuu-path29: "\e945";
$bandera-eeuu-path30: "\e946";
$bandera-eeuu-path31: "\e947";
$bandera-eeuu-path32: "\e948";
$bandera-eeuu-path33: "\e949";
$bandera-eeuu-path34: "\e94a";
$bandera-eeuu-path35: "\e94b";
$bandera-eeuu-path36: "\e94c";
$bandera-eeuu-path37: "\e94d";
$bandera-eeuu-path38: "\e94e";
$bandera-eeuu-path39: "\e94f";
$bandera-eeuu-path40: "\e950";
$bandera-eeuu-path41: "\e951";
$bandera-eeuu-path42: "\e952";
$bandera-eeuu-path43: "\e953";
$bandera-eeuu-path44: "\e954";
$bandera-eeuu-path45: "\e955";
$bandera-eeuu-path46: "\e956";
$bandera-eeuu-path47: "\e957";
$bandera-eeuu-path48: "\e958";
$bandera-eeuu-path49: "\e959";

